<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shagun Admin</title>
    <!-- plugins:css -->
    {% load static%}
    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/select.dataTables.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <style>
        .icon-and-text-container {
          display: flex;
        }

        .icon-and-text-container i {
          color: #7da0fa;
          margin-right: 10px;
        }







    </style>
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    {% include 'app_bar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        {% include 'theme_setting.html' %}
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        {% include 'nav_bar.html' %}
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="row">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 grid-margin transparent">
                        <div class="icon-and-text-container">
                            <i class="fas fa-money-check-alt"></i>
                            <h4>Transaction Stats</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-4 stretch-card transparent">
                                <div class="card-body">
                                    <p class="mb-4">Total Transactions</p>
                                    <p class="fs-30 mb-2"><span
                                            id="total_transactions">{{ total_transactions }}</span></p>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4 stretch-card transparent">
                                <div class="card-body">
                                    <p class="mb-4">Total Shagun Amount</p>
                                    <p class="fs-30 mb-2"><span id="total_shagun">{{ total_shagun }}</span></p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-4 stretch-card transparent">
                                <div class="card-body">
                                    <p class="mb-4">Today's Transaction</p>
                                    <p class="fs-30 mb-2"><span
                                            id="todays_transactions">{{ todays_transactions }}</span></p>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4 stretch-card transparent">
                                <div class="card-body">
                                    <p class="mb-4">Today's Shagun</p>
                                    <p class="fs-30 mb-2"><span id="today_shagun">{{ today_shagun }}</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="icon-and-text-container">
                            <i class="fas fa-calendar"></i>
                            <h4>Events Stats</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-4 stretch-card transparent">
                                <a href="{% url 'manage_event' %}" class="card card-tale">
                                    <div class="card-body">
                                        <p class="mb-4">Total Events</p>
                                        <p class="fs-30 mb-2">{{ total_events }}</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 mb-4 stretch-card transparent">
                                <a href="{% url 'filtered_events_on_approval_status' 1 %}" class="card card-tale">
                                    <div class="card-body">
                                        <p class="mb-4">Approved Events</p>
                                        <p class="fs-30 mb-2">{{ approved_events }}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-4 stretch-card transparent">
                                <a href="{% url 'filtered_events_on_approval_status' 0 %}" class="card card-tale">
                                    <div class="card-body">
                                        <p class="mb-4">Pending Events</p>
                                        <p class="fs-30 mb-2">{{ pending_events }}</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 mb-4 stretch-card transparent">
                                <a href="{% url 'filtered_events_on_approval_status' 2 %}"
                                   class="card card-light-danger">
                                    <div class="card-body">
                                        <p class="mb-4">Rejected Events</p>
                                        <p class="fs-30 mb-2">{{ rejected_events }}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 grid-margin transparent">
                        <div class="icon-and-text-container">
                            <i class="fas fa-print" style="color:#4747a1;"></i>
                            <h4>Printing Vendors Jobs</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-4 stretch-card transparent">
                                <a href="{% url 'all_printer_jobs' %}" class="card card-dark-blue">
                                    <div class="card-body">
                                        <p class="mb-4">Total Jobs</p>
                                        <p class="fs-30 mb-2">{{ total_jobs }}</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 mb-4 stretch-card transparent">
                                <a href="{% url 'filter_all_printer_jobs' 1 %}" class="card card-dark-blue">
                                    <div class="card-body">
                                        <p class="mb-4">New Jobs</p>
                                        <p class="fs-30 mb-2">{{ new_jobs }}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-4 stretch-card transparent">
                                <a href="{% url 'Open_printer_jobs' %}" class="card card-dark-blue">
                                    <div class="card-body">
                                        <p class="mb-4">Open Jobs</p>
                                        <p class="fs-30 mb-2">{{ open_jobs }}</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 mb-4 stretch-card transparent">
                                <a href="{% url 'closed_printer_jobs' %}" class="card card-dark-blue">
                                    <div class="card-body">
                                        <p class="mb-4">Completed Jobs</p>
                                        <p class="fs-30 mb-2">{{ completed }}</p>
                                    </div>
                                </a>
                            </div>

                        </div>
                        <div class="icon-and-text-container">
                            <i class="fas fa-user" style="color:#4747a1;"></i>
                            <h4>Vendors Stats</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-4 stretch-card transparent">
                                <a href="{% url 'dashboard_search_printers_status' 1 %}">
                                    <div class="card-body">
                                        <p class="mb-4">Active Printing Vendor</p>
                                        <p class="fs-30 mb-2">{{ active_printers }}</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 mb-4 stretch-card transparent">
                                <a href="{% url 'dashboard_search_printers_status' 0 %}">
                                    <div class="card-body">
                                        <p class="mb-4">Inactive Printing Vendor</p>
                                        <p class="fs-30 mb-2">{{ inactive_printers }}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-4 stretch-card transparent">
                                <a href="{% url 'dashboard_search_delivery_vendors_status' 1 %}">
                                    <div class="card-body">
                                        <p class="mb-4">Active Delivery Vendor</p>
                                        <p class="fs-30 mb-2">{{ active_delivery_vendors }}</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 mb-4 stretch-card transparent">
                                <a href="{% url 'dashboard_search_delivery_vendors_status' 0 %}">
                                    <div class="card-body">
                                        <p class="mb-4">Inactive Delivery Vendor</p>
                                        <p class="fs-30 mb-2">{{ inactive_delivery_vendors }}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">Today's Events</p>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table-responsive">
                                            <table class="display expandable-table" style="width:100%">
                                                <thead>
                                                <tr>
                                                    <th>Event Name</th>
                                                    <th>Event Admins</th>
                                                    <th>Event Date</th>
                                                    <th>Status</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for event in events %}

                                                <tr>
                                                    <td>{{ event.event_id }}</td>
                                                    <td>{{ event.event_name }}</td>
                                                    <td>
                                                        {% for admin in event.admins %}
                                                        <b>{{ admin.role }}</b> : {{ admin.name }}</br></br>
                                                        {% endfor %}
                                                    </td>
                                                    <td>{{ event.event_date }}</td>
                                                    <td>
                                                        {% if event.is_approved == 0 %}
                                                        <label class="badge badge-info">Pending</label>
                                                        {% elif event.is_approved == 1 %}
                                                        <label class="badge badge-success">Approved</label>
                                                        {% elif event.is_approved == 2 %}
                                                        <label class="badge badge-danger">Rejected</label>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            {% include 'footer.html' %}

            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- plugins:js -->
<script>
    // Function to format a number in lakh (10K) format
    function formatNumberInLakh(number) {
        if (number >= 100000) {
            return (number / 100000).toFixed(1) + 'L';
        } else if (number >= 1000) {
            return (number / 1000).toFixed(1) + 'K';
        } else {
            return number.toString();
        }
    }

    // Retrieve the values from the DOM
    var totalTransactionsElement = document.getElementById('total_transactions');
    var totalShagunElement = document.getElementById('total_shagun');
    var todaysTransactionsElement = document.getElementById('todays_transactions');
    var todayShagunElement = document.getElementById('today_shagun');

    // Get the values from the DOM elements
    var total_transactions = parseFloat(totalTransactionsElement.textContent);
    var total_shagun = parseFloat(totalShagunElement.textContent);
    var todays_transactions = parseFloat(todaysTransactionsElement.textContent);
    var today_shagun = parseFloat(todayShagunElement.textContent);

    // Format and update the content of the spans with the formatted numbers
    totalTransactionsElement.textContent = '₹ ' + formatNumberInLakh(total_transactions);
    totalShagunElement.textContent = '₹ ' + formatNumberInLakh(total_shagun);
    todaysTransactionsElement.textContent = '₹ ' + formatNumberInLakh(todays_transactions);
    todayShagunElement.textContent = '₹ ' + formatNumberInLakh(today_shagun);
</script>

<script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
<script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'js/dataTables.select.min.js' %}"></script>

<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{% static 'js/off-canvas.js' %}"></script>
<script src="{% static 'js/hoverable-collapse.js' %}"></script>
<script src="{% static 'js/template.js' %}"></script>
<script src="{% static 'js/settings.js' %}"></script>
<script src="{% static 'js/todolist.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'js/Chart.roundedBarCharts.js' %}"></script>
<!-- End custom js for this page-->
</body>

</html>

