<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="fas fa-th" style="margin-right:20px"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#event-management" aria-expanded="false"
               aria-controls="event-management">
                <i class="fas fa-calendar" style="margin-right:20px"></i>
                <span class="menu-title">Event Management</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="event-management">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item" >
                        <a class="nav-link" href="/manage_event">Event</a>
                    </li>
                    <li class="nav-item"><a class="nav-link"
                                            href="/manage_event_types">Event Type</a></li>
                    <li class="nav-item"><a class="nav-link"
                                            href="/manage_location">Location</a></li>
                    <li class="nav-item"><a class="nav-link"
                                            href="/manage_greeting_cards">Greeting Card</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#user-management" aria-expanded="false"
               aria-controls="user-management">
                <i class="fas fa-user" style="margin-right:20px"></i>
                <span class="menu-title">User Management</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="user-management">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/manage_kyc">KYC</a>
                    </li>
                    <li class="nav-item"><a class="nav-link"
                                            href="/manage_bank_details">Bank Details </a></li>
                    <li class="nav-item"><a class="nav-link"
                                            href="/manage_bank_list">Banks List </a></li>
                    <li class="nav-item"><a class="nav-link"
                                            href="/manage_users">User</a></li>
                </ul>
            </div>
        </li>

        {% if request.session.role == 1 %}
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#employee-management" aria-expanded="false"
               aria-controls="employee-management">
                <i class="fas fa-users" style="margin-right:20px"></i>
                <span class="menu-title">Employees</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="employee-management">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/manage_admin">Admin</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/manage_employee">Employees</a>
                    </li>
                </ul>
            </div>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#printers-management" aria-expanded="false"
               aria-controls="printers-management">
                <i class="fas fa-user-tie" style="margin-right:20px"></i>
                <span class="menu-title">Vendors</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="printers-management">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/manage_printers">Printing Vendors</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/manage_delivery_vendors">Delivery Vendors</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#request-management" aria-expanded="false"
               aria-controls="request-management">
                <i class="fas fa-envelope" style="margin-right:20px"></i>
                <span class="menu-title">User Requests </span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="request-management">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/kyc_request">New KYC Request</a></li>
                    <li class="nav-item"><a class="nav-link" href="/event_request">New Event Request </a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#settlement-management" aria-expanded="false"
               aria-controls="settlement-management">
                <i class="fas fa-credit-card" style="margin-right:20px"></i>
                <span class="menu-title">Settlements</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="settlement-management">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/get_settlement_for_event/1">Open Events</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/get_settlement_for_event/0">Closed Events</a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#printer-job" aria-expanded="false"
               aria-controls="printer-job">
                <i class="fas fa-briefcase" style="margin-right:20px"></i>

                <span class="menu-title">Printer Jobs</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="printer-job">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/all_printer_jobs">All Jobs</a></li>
                    <li class="nav-item"><a class="nav-link" href="/new_printer_jobs">New Jobs</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Open_printer_jobs">Open Jobs</a></li>
                    <li class="nav-item"><a class="nav-link" href="/closed_printer_jobs">Dispatched Jobs</a></li>
                </ul>
            </div>
        </li>
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" data-toggle="collapse" href="#app-setting" aria-expanded="false"-->
<!--               aria-controls="app-setting">-->
<!--                <i class="fas fa-cog" style="margin-right:20px"></i>-->
<!--                <span class="menu-title">App Settings</span>-->
<!--                <i class="menu-arrow"></i>-->
<!--            </a>-->
<!--            <div class="collapse" id="app-setting">-->
<!--                <ul class="nav flex-column sub-menu">-->
<!--                    <li class="nav-item"><a class="nav-link" href="/app_settings">App Settings</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </li>-->
    </ul>
</nav>