<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/printer_home_page">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#printer-management" aria-expanded="false"
               aria-controls="printer-management">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">My Jobs</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="printer-management">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link"
                                            href="/printer_all_jobs">All Jobs</a></li>
                    <li class="nav-item"><a class="nav-link"
                                            href="/printer_new_jobs">New Jobs</a></li>
                    <li class="nav-item"><a class="nav-link"
                                            href="/printer_open_jobs">Open Jobs</a></li>
                    <li class="nav-item"><a class="nav-link"
                                            href="/printer_closed_jobs">Closed Jobs</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#event-management" aria-expanded="false"
               aria-controls="event-management">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">Greeting Card</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="event-management">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link"
                                            href="/printer_manage_greeting_cards">Manage Card</a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>