<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shagun Admin</title>
    <!-- plugins:css -->
    {% load static%}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'vendors/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/select2-bootstrap-theme/select2-bootstrap.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">

    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <style>
        .center-button {
          display: flex;
          justify-content: center;
        }

        .toggle-password {
          position: absolute;
          top: 10px;
          right: 50px;
          cursor: pointer;
        }





    </style>
</head>

<body>
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    {% include 'app_bar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_settings-panel.html -->

        <!-- partial -->
        <!-- partial:../../partials/_sidebar.html -->
        {% include 'nav_bar.html' %}
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <button id="backButton" class="btn btn-outline-info">
                                        <i class="fas fa-arrow-left" style="margin-right:5px;"></i> Go Back
                                    </button>
                                    <label class="ml-2 custom-label"> Add New Admin </label>
                                </div>
                                <form class="form-sample needs-validation needs-password-validation" action="/add_admin" method="post"
                                      enctype="multipart/form-data" novalidate>
                                    {% csrf_token %}
                                    <p class="card-description">
                                        Personal info
                                    </p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Email <span
                                                        style="font-weight: bold; color: red;">*</span></label>
                                                <div class="col-sm-9">
                                                    <input required type="email" id="email" name="email"
                                                           class="form-control" maxlength="64"
                                                           title="This field can't be Empty"
                                                           placeholder="username">
                                                    <div class="invalid-feedback">Email is mandatory</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Full Name <span
                                                        style="font-weight: bold; color: red;">*</span></label>
                                                <div class="col-sm-9">
                                                    <input required type="text" id="name" name="name"
                                                           class="form-control" maxlength="64"
                                                           title="This field can't be Empty"
                                                           placeholder="Full Name">
                                                    <div class="invalid-feedback">Full Name is mandatory</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Phone <span
                                                        style="font-weight: bold; color: red;">*</span>
                                                </label>
                                                <div class="col-sm-9">
                                                    <input type="number" id="phone" name="contact_number"
                                                           class="form-control" placeholder="Phone Number"
                                                           title="Please enter a 10-digit phone number" required
                                                           oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 10);">
                                                    <div class="invalid-feedback">Phone is mandatory</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Address <span
                                                        style="font-weight: bold; color: red;">*</span></label>
                                                <div class="col-sm-9">
                                                    <input required type="text" id="city" name="city"
                                                           class="form-control"  maxlength="255"
                                                           placeholder="Address"
                                                           title="This field can't be Empty">
                                                    <div class="invalid-feedback">Address is mandatory</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Password <span
                                                        style="font-weight: bold; color: red;">*</span></label>
                                                <div class="col-sm-9">
                                                    <input required type="password" id="password" name="password"
                                                           class="form-control form-control-lg"
                                                           pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).{8,12}$"
                                                           placeholder="Password"
                                                    title="Password must contain one capital 1 small , min 8 char">
                                                    <i class="toggle-password" onclick="toggleVisibility('password')">&#x1f441;</i>
                                                    <div class="invalid-feedback">Password Requirements: 8-12
                                                        characters, at least one uppercase letter, one lowercase letter,
                                                        one number, one special character.</div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Confirm </br>Password <span
                                                        style="font-weight: bold; color: red;">*</span></label>
                                                <div class="col-sm-9">
                                                    <input required type="password" id="confirmPassword"
                                                           class="form-control form-control-lg" pattern="[^ ].*"
                                                           placeholder="Confirm Password" >
                                                    <div class="invalid-feedback">Passwords should match</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="center-button">
                                        <input required type="submit" value="Submit" class="btn btn-primary mr-2"
                                               id="submitButton">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            {% include 'footer.html' %}
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

<script>
    function toggleVisibility(fieldId) {
      var field = document.getElementById(fieldId);
      if (field.type === 'password') {
        field.type = 'text';
      } else {
        field.type = 'password';
      }
    }


</script>

<!-- container-scroller -->
<!-- plugins:js -->
<script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{% static 'vendors/typeahead.js/typeahead.bundle.min.js' %}"></script>
<script src="{% static 'vendors/select2/select2.min.js' %}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->

<script src="{% static 'js/off-canvas.js' %}"></script>
<script src="{% static 'js/hoverable-collapse.js' %}"></script>
<script src="{% static 'js/template.js' %}"></script>
<script src="{% static 'js/settings.js' %}"></script>
<script src="{% static 'js/todolist.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="{% static 'js/file-upload.js' %}"></script>
<script src="{% static 'js/typeahead.js' %}"></script>
<script src="{% static 'js/select2.js' %}"></script>

<!-- End custom js for this page-->

</body>

</html>
