<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shagun Admin</title>
    <!-- plugins:css -->
    {% load static%}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'vendors/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/select2-bootstrap-theme/select2-bootstrap.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">

    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <style>
        .center-button {
          display: flex;
          justify-content: center;
        }

        .toggle-password {
          position: absolute;
          top: 10px;
          right: 30px;
          cursor: pointer;
        }






    </style>
</head>

<body>
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    {% include 'app_bar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_settings-panel.html -->

        <!-- partial -->
        <!-- partial:../../partials/_sidebar.html -->
        {% include 'nav_bar.html' %}
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <button onclick="window.location.href='{% url 'manage_admin' %}'" class="btn btn-outline-info">
                                        <i class="fas fa-arrow-left" style="margin-right:5px;"></i> Go Back
                                    </button>
                                    <label class="ml-2 custom-label"> Edit Admin </label>
                                </div>
                                <form class="form-sample needs-validation" action="{% url 'edit_admin' emp.id %}"
                                      method="post" novalidate>
                                    {% csrf_token %}
                                    <p class="card-description">
                                        Personal info
                                    </p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Email <span
                                                        style="font-weight: bold; color: red;"></span></label>
                                                <div class="col-sm-9">
                                                    <input readonly type="text" id="email" name="email"
                                                           class="form-control" pattern="[^ ].*" maxlength="64"
                                                           title="This field can't be Empty"
                                                           value="{{emp.email}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Full Name <span
                                                        style="font-weight: bold; color: red;">*</span></label>
                                                <div class="col-sm-9">
                                                    <input type="text" id="name" name="name"
                                                           class="form-control" pattern="[^ ].*" maxlength="64"
                                                           value="{{emp.name}}">
                                                    <div class="invalid-feedback">Full Name is mandatory</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Phone <span
                                                        style="font-weight: bold; color: red;">*</span></label>
                                                <div class="col-sm-9">
                                                    <div class="form-group row">
                                                        <div class="col-1 col-sm-2"
                                                             style="display: flex; align-items: center;">
                                                            +91
                                                        </div>
                                                        <div class="col-8 col-sm-10">
                                                            <input type="text" id="phone" name="phone"
                                                                   class="form-control" placeholder="Phone Number"
                                                                   title="Please enter a 10-digit phone number" required
                                                                   pattern="[0-9]{10}" value="{{emp.phone}}"
                                                                   oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 10);">

                                                        </div>
                                                        <div class="invalid-feedback">Phone is mandatory</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Address <span
                                                        style="font-weight: bold; color: red;">*</span></label>
                                                <div class="col-sm-9">
                                                    <input required type="text" id="city" name="city"
                                                           class="form-control" pattern="[^ ].*" maxlength="255"
                                                           value="{{emp.city}}">
                                                    <div class="invalid-feedback">Address is mandatory</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Created on</label>
                                                <div class="col-sm-9">
                                                    <input disabled type="text" id="created_on" name="created_on"
                                                           class="form-control"
                                                           value="{{emp.created_on}}">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Created By </label>
                                                <div class="col-sm-9">
                                                    <input disabled readonly class="form-control"
                                                           value="{{ emp.creator }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Updated By </label>
                                                <div class="col-sm-9">
                                                    <input disabled readonly class="form-control"
                                                           value="{{ emp.updator }} ">
                                                    <input type="hidden" id="updated_by"
                                                           name="updated_by"
                                                           value="{{ request.session.uid }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="center-button">
                                        <input type="submit" value="Submit" class="btn btn-primary mr-2"
                                               id="submitButton">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            {% include 'footer.html' %}
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

<!-- container-scroller -->
<!-- plugins:js -->
<script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{% static 'vendors/typeahead.js/typeahead.bundle.min.js' %}"></script>
<script src="{% static 'vendors/select2/select2.min.js' %}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->

<script src="{% static 'js/off-canvas.js' %}"></script>
<script src="{% static 'js/hoverable-collapse.js' %}"></script>
<script src="{% static 'js/template.js' %}"></script>
<script src="{% static 'js/settings.js' %}"></script>
<script src="{% static 'js/todolist.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="{% static 'js/file-upload.js' %}"></script>
<script src="{% static 'js/typeahead.js' %}"></script>
<script src="{% static 'js/select2.js' %}"></script>

<!-- End custom js for this page-->

</body>

</html>
