<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shagun Admin</title>
    <!-- plugins:css -->
    {% load static%}
    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'vendors/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/select2-bootstrap-theme/select2-bootstrap.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">

    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

    <style>
        .center-button {
          display: flex;
          justify-content: center;
        }
        .dropbtn {
          background-color: #04AA6D;
          color: white;
          padding: 16px;
          font-size: 16px;
          border: none;
          cursor: pointer;
        }

        .dropbtn:hover, .dropbtn:focus {
          background-color: #3e8e41;
        }

        #myInput {
          box-sizing: border-box;
          background-image: url('searchicon.png');
          background-position: 14px 12px;
          background-repeat: no-repeat;
          font-size: 16px;
          padding: 14px 20px 12px 45px;
          border: none;
          border-bottom: 1px solid #ddd;
        }

        #myInput:focus {outline: 3px solid #ddd;}

        .dropdown {
          position: relative;
          display: inline-block;
        }

        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f6f6f6;
          min-width: 230px;
          overflow: auto;
          border: 1px solid #ddd;
          z-index: 1;
          height:400px;
        }

        .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }

        .dropdown a:hover {background-color: #ddd;}

        .show {display: block;}





    .event-row {
        display: flex;
        flex-wrap: wrap;
    }

    .event-input {
        width: 30%;
        padding: 8px;
        margin: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    #addSubEventButton,
    #removeEventButton,
    #addEventAdminButton,
    #removeEventAdminButton {
        padding: 8px 15px;
        border: none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
    }

    #addSubEventButton {
        background-color: #2196F3;
    }

    #removeEventButton {
        background-color: #f44336;
    }

        #addEventAdminButton {
            background-color: #2196F3;
        }

        #removeEventAdminButton {
            background-color: #f44336;
        }

        #map {
            height: 300px;
            margin: 20px;
        }

    </style>

</head>

<body>
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    {% include 'app_bar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_settings-panel.html -->
        {% include 'theme_setting.html' %}
        <!-- partial -->
        <!-- partial:../../partials/_sidebar.html -->
        {% include 'nav_bar.html' %}
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Edit Event</h4>
                                <form class="form-sample" action="{% url 'edit_event' event.event_data.id %}" method="post"
                                      enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <p class="card-description">
                                        Event info
                                    </p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Select Event Type</label>
                                                <div class="col-sm-9">
                                                    <input type="text" id="event_type_name" readonly
                                                           onclick="toggleDropdown('myDropdown1')"
                                                            value="{{event.event_data.event_type_name}}" class="form-control">

                                                    <div id="myDropdown1" class="dropdown-content">
                                                        <input type="text" value="{{event.event_data.event_type_id}}" id="myInput1"
                                                               onkeyup="filterFunction('myDropdown1')"
                                                               class="form-control">
                                                        {% for events_type in event_types.event_type_list %}
                                                        <a onclick="setValue('{{events_type.event_type_name}}', '{{events_type.id}}', 'event_type_name', 'event_type_id')">{{events_type.event_type_name}}</a>
                                                        {% endfor %}
                                                    </div>
                                                    <input type="hidden" id="event_type_id" name="event_type_id" value="{{event.event_data.event_type_id}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Select City</label>
                                                <div class="col-sm-9">
                                                    <input type="text" id="city_name" readonly
                                                           onclick="toggleDropdown('myDropdown2')"
                                                           value="{{event.event_data.city_name}}" class="form-control">

                                                    <div id="myDropdown2" class="dropdown-content">
                                                        <input type="text" value="{{event.event_data.city_id}}" id="myInput2"
                                                               onkeyup="filterFunction('myDropdown2')"
                                                               class="form-control">
                                                        {% for city in location.city_list %}
                                                        <a onclick="setValue('{{city.city_name}}', '{{city.city_id}}', 'city_name', 'city_id')">{{city.city_name}}</a>
                                                        {% endfor %}
                                                    </div>
                                                    <input type="hidden" id="city_id" name="city_id" value="{{event.event_data.city_id}}" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Select Printer</label>
                                                <div class="col-sm-9">

                                                    <input type="text" id="printer_name" readonly
                                                           onclick="toggleDropdown('myDropdown3')"
                                                           value="{{event.event_data.store_name}}" class="form-control">

                                                    <div id="myDropdown3" class="dropdown-content">
                                                        <input type="text" placeholder="Search.." id="myInput3"
                                                               onkeyup="filterFunction('myDropdown3')"
                                                               class="form-control">
                                                        {% for printers in printers.printer_data %}
                                                        <a onclick="setValue('{{printers.store_name}}', '{{printers.id}}', 'printer_name', 'printer_id')">{{printers.store_name}}</a>
                                                        {% endfor %}
                                                    </div>
                                                    <input type="hidden" id="printer_id" name="printer_id" value="{{event.event_data.printer_id}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Event Date</label>
                                                <div class="col-sm-9">
                                                    <input type="datetime-local" id="event_date"
                                                           name="event_date"
                                                           class="form-control"
                                                           value="{{event.event_data.event_date}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Address Line1</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="address_line1" value="{{event.event_data.address_line1}}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Address Line2</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="address_line2" value="{{event.event_data.address_line2}}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-sm-12">
                                            <input type="text" id="searchInput" style="width: 50%;"
                                               placeholder="Search for a location" class="form-control">
                                        </div>
                                        <div id="map"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Event Lat Lng</label>
                                                <div class="col-sm-10">
                                                    <input type="text" id="event_lat_lng" style="width: 50%;" value="{{event.event_data.event_lat_lng}}"
                                                           class="form-control" name="event_lat_lng" class="form-control" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Added By</label>
                                                <div class="col-sm-9">
                                                    <label class="form-control">{{event.event_data.created_by_uid}}</label>
                                                    <input type="hidden" id="created_by_uid" name="created_by_uid"
                                                           value={{event.event_data.created_by_uid}}>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-form-label">Event Note</label>
                                        <textarea class="form-control" id="event_note" rows="4"
                                                  name="event_note" >{{event.event_data.event_note}}</textarea>
                                    </div>

                                    <div id="sub-events-container">
                                        <label class="col-sm-3 col-form-label">Sub Events</label>
                                        {% for sub_event in event.event_data.sub_events %}
                                        <div class="event-row">
                                            <input class="event-input" type="text" name="sub_events[0][sub_event_name]"
                                                   value="{{sub_event.sub_event_name}}">
                                            <input class="event-input" type="datetime-local"
                                                   name="sub_events[0][start]" value="{{sub_event.start_time}}">
                                            <input class="event-input" type="datetime-local" name="sub_events[0][end]"
                                                   value="{{sub_event.end_time}}">
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <button type="button" id="addSubEventButton">Add Sub Event</button>
                                    <button type="button" id="removeEventButton" style="display: none; margin-top: 5px;">Remove Sub
                                        Event
                                    </button>
                                    <div id="event-admin-container">
                                        <label class="col-sm-3 col-form-label">Event Admins</label>
                                        {% for admin in event.event_data.event_admin %}
                                        <div class="event-row">
                                            <input type="text" id="name"  name="event_admin[0][name]" readonly
                                                   onclick="toggleDropdown('myDropdown4')"
                                                   value="{{admin.name}}" class="event-input">

                                            <div id="myDropdown4" class="dropdown-content">
                                                <input type="text" value="{{admin.name}}" id="myInput"
                                                       onkeyup="filterFunction('myDropdown4')" class="form-control">
                                                {% for users in users.user_data %}
                                                <a onclick="setValue('{{users.name}}', '{{users.uid}}', 'name', 'uid')">{{users.name}}
                                                    {{users.phone}}</a>
                                                {% endfor %}
                                            </div>
                                            <input class="event-input" type="text"
                                                   name="event_admin[0][role]" value="{{admin.role}}">
                                            <input type="hidden" id="uid" name="event_admin[0][uid]" value="{{admin.uid}}">
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="center-button">
                                        <input type="submit" value="Submit" class="btn btn-primary mr-2">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            {% include 'footer.html' %}
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

<!-- my_template.html -->

<script>
// Function to toggle a specific dropdown based on its ID
function toggleDropdown(dropdownId) {
  var dropdown = document.getElementById(dropdownId);
  dropdown.classList.toggle("show");
}

// Function to filter the dropdown content based on the input value
function filterFunction(dropdownId) {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput" + dropdownId.slice(-1));
  filter = input.value.toUpperCase();
  div = document.getElementById(dropdownId);
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}

function setValue(value1, value2, inputField1Id, inputField2Id) {
  if (value1 && value2) {
    document.getElementById(inputField1Id).value = value1;
    console.log(inputField1Id)
    console.log(inputField2Id)
    console.log(value1)
    console.log(value2)
    document.getElementById(inputField2Id).value = value2;
    var dropdowns = document.getElementsByClassName("dropdown-content");
    for (var i = 0; i < dropdowns.length; i++) {
      dropdowns[i].classList.remove("show");
    }
  }
}

  document.addEventListener("click", function(event) {
        const dropdown = document.getElementById("dropdownId");
        const nameInput = document.getElementById("name");
        if (event.target !== dropdown && event.target !== nameInput && !dropdown.contains(event.target)) {
            dropdown.classList.remove("show");
        }
    });

</script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const addSubEventButton = document.getElementById('addSubEventButton');
        const removeEventButton = document.getElementById('removeEventButton');
        const addEventAdminButton = document.getElementById('addEventAdminButton');
        const removeEventAdminButton = document.getElementById('removeEventAdminButton');
        const subEventsContainer = document.getElementById('sub-events-container');
        const eventAdminContainer = document.getElementById('event-admin-container');
        let subEventIndex = 1;
        let eventAdminIndex = 1;

        function updateButtonVisibility() {
            if (subEventIndex > 1) {
                addSubEventButton.style.display = 'block';
                removeEventButton.style.display = 'block';
            } else {
                addSubEventButton.style.display = 'block';
                removeEventButton.style.display = 'none';
            }

            if (eventAdminIndex === 2) {
                addEventAdminButton.style.display = 'none';
                removeEventAdminButton.style.display = 'block';
            } else {
                addEventAdminButton.style.display = 'block';
                removeEventAdminButton.style.display = 'none';
            }
        }

        function addSubEvent() {
            const subEventRow = document.createElement('div');
            subEventRow.classList.add('event-row');
            subEventRow.innerHTML = `
                <input required class="event-input" type="text" name="sub_events[${subEventIndex}][sub_event_name]" placeholder="Sub Event Name">
                <input required class="event-input" type="datetime-local" name="sub_events[${subEventIndex}][start]" placeholder="Start Time">
                <input required class="event-input" type="datetime-local" name="sub_events[${subEventIndex}][end]" placeholder="End Time">
            `;
            subEventsContainer.appendChild(subEventRow);
            subEventIndex++;
            updateButtonVisibility();
        }

        function removeSubEvent() {
            if (subEventIndex > 1) {
                subEventIndex--;
                const subEventRows = subEventsContainer.getElementsByClassName('event-row');
                subEventsContainer.removeChild(subEventRows[subEventIndex]);
                updateButtonVisibility();
            }
        }

        function addEventAdmin() {
            const eventAdminRow = document.createElement('div');
            eventAdminRow.classList.add('event-row');
            eventAdminRow.innerHTML = `
            <input required type="text" id="name1" name = "event_admin[${eventAdminIndex}][name]" readonly onclick="toggleDropdown('myDropdown5')" placeholder="Search.." class="event-input">
            <div id="myDropdown5" class="dropdown-content">
                <input required type="text" placeholder="Search.." id="myInput5" onkeyup="filterFunction('myDropdown5')" class="form-control">
                {% for users in users.user_data %}
                <a onclick="setValue('{{users.name}}', '{{users.uid}}', 'name${eventAdminIndex}', 'uid${eventAdminIndex}')">{{users.name}} {{users.phone}}</a>
                {% endfor %}
            </div>
            <input required class="event-input" type="text" name="event_admin[${eventAdminIndex}][role]" placeholder="Bride, Groom etc ....">
            <input required type="hidden" id="uid1" name="event_admin[${eventAdminIndex}][uid]">
        `;
            eventAdminContainer.appendChild(eventAdminRow);
            eventAdminIndex++;
            updateButtonVisibility();
        }

        function removeEventAdmin() {
            if (eventAdminIndex > 1) {
                eventAdminIndex--;
                const eventAdminRows = eventAdminContainer.getElementsByClassName('event-row');
                eventAdminContainer.removeChild(eventAdminRows[eventAdminIndex]);
                updateButtonVisibility();
            }
        }

        addSubEventButton.addEventListener('click', addSubEvent);
        removeEventButton.addEventListener('click', removeSubEvent);
        addEventAdminButton.addEventListener('click', addEventAdmin);
        removeEventAdminButton.addEventListener('click', removeEventAdmin);
    });
</script>

<!-- container-scroller -->
<!-- plugins:js -->
<script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{% static 'vendors/typeahead.js/typeahead.bundle.min.js' %}"></script>
<script src="{% static 'vendors/select2/select2.min.js' %}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->

<script src="{% static 'js/off-canvas.js' %}"></script>
<script src="{% static 'js/hoverable-collapse.js' %}"></script>
<script src="{% static 'js/template.js' %}"></script>
<script src="{% static 'js/settings.js' %}"></script>
<script src="{% static 'js/todolist.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="{% static 'js/file-upload.js' %}"></script>
<script src="{% static 'js/typeahead.js' %}"></script>
<script src="{% static 'js/select2.js' %}"></script>

<!-- End custom js for this page-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6O2CG9zBAksJH4SCgCZlbx3XRWVwzY1E&libraries=places&callback=initMap"
        async defer></script>
<script>
        var map, marker, event_lat_lng, searchInput;

        function initMap() {
            var mapOptions = {
                zoom: 8,
            };

            var mapDiv = document.getElementById('map');
            map = new google.maps.Map(mapDiv, mapOptions);

            event_lat_lng = document.getElementById('event_lat_lng');

            var eventData = event_lat_lng.value.split(/: |, /); // Split the value into an array

            var initialLatLng = {
                lat: parseFloat(eventData[1]),
                lng: parseFloat(eventData[3])
            };

            map.setCenter(initialLatLng);

            marker = new google.maps.Marker({
                position: initialLatLng,
                map: map,
                draggable: true,
                title: 'Drag me to set the location',
            });

            google.maps.event.addListener(marker, 'dragend', function(event) {
                var lat = event.latLng.lat();
                var lng = event.latLng.lng();
                event_lat_lng.value = 'Latitude: ' + lat + ', Longitude: ' + lng;
            });

            event_lat_lng.value = 'Latitude: ' + initialLatLng.lat + ', Longitude: ' + initialLatLng.lng;

            // Initialize Google Places Autocomplete for search
            var autocomplete = new google.maps.places.Autocomplete(searchInput);
            autocomplete.bindTo('bounds', map);

            // Set listener to update map and marker on autocomplete selection
            autocomplete.addListener('place_changed', function() {
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                    return;
                }

                map.setCenter(place.geometry.location);

                if (!marker) {
                    marker = new google.maps.Marker({
                        position: place.geometry.location,
                        map: map,
                        draggable: true,
                        title: 'Drag me to set the location',
                    });
                    google.maps.event.addListener(marker, 'dragend', function(event) {
                        var lat = event.latLng.lat();
                        var lng = event.latLng.lng();
                        event_lat_lng.value = 'Latitude: ' + lat + ', Longitude: ' + lng;
                    });
                } else {
                    marker.setPosition(place.geometry.location);
                }

                var lat = marker.getPosition().lat();
                var lng = marker.getPosition().lng();
                event_lat_lng.value = 'Latitude: ' + lat + ', Longitude: ' + lng;
            });
        }
    </script>
</body>

</html>
