<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shagun Admin</title>
    <!-- plugins:css -->
    {% load static%}
    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'vendors/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/select2-bootstrap-theme/select2-bootstrap.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">

    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

    <style>
        .center-button {
          display: flex;
          justify-content: center;
        }
        .dropbtn {
          background-color: #04AA6D;
          color: white;
          padding: 16px;
          font-size: 16px;
          border: none;
          cursor: pointer;
        }

        .dropbtn:hover, .dropbtn:focus {
          background-color: #3e8e41;
        }

        #myInput {
          box-sizing: border-box;
          background-image: url('searchicon.png');
          background-position: 14px 12px;
          background-repeat: no-repeat;
          font-size: 16px;
          padding: 14px 20px 12px 45px;
          border: none;
          border-bottom: 1px solid #ddd;
        }

        #myInput:focus {outline: 3px solid #ddd;}

        .dropdown {
          position: relative;
          display: inline-block;
        }

        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f6f6f6;
          min-width: 230px;
          overflow: auto;
          border: 1px solid #ddd;
          z-index: 1;
          height:400px;
        }

        .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }

        .dropdown a:hover {background-color: #ddd;}

        .show {display: block;}







    .event-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .event-input {
        width: 30%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    #addEventButton,
    #removeEventButton {
        padding: 8px 15px;
        border: none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
    }

    #addEventButton {
        background-color: #2196F3;
    }

    #removeEventButton {
        background-color: #f44336;
    }

    </style>

</head>

<body>
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    {% include 'app_bar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_settings-panel.html -->
        {% include 'theme_setting.html' %}
        <!-- partial -->
        <!-- partial:../../partials/_sidebar.html -->
        {% include 'nav_bar.html' %}
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Add New Event</h4>
                                <form class="form-sample" action="/add_events" method="post"
                                      enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <p class="card-description">
                                        Event info
                                    </p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Select Event Type</label>
                                                <div class="col-sm-9">

                                                    <input type="text" id="event_type_name" readonly
                                                           onclick="toggleDropdown('myDropdown1')"
                                                           placeholder="Search.." class="form-control">

                                                    <div id="myDropdown1" class="dropdown-content">
                                                        <input type="text" placeholder="Search.." id="myInput1"
                                                               onkeyup="filterFunction('myDropdown1')"
                                                               class="form-control">
                                                        {% for events_type in event_types.event_type_list %}
                                                        <a onclick="setValue('{{events_type.event_type_name}}', '{{events_type.id}}', 'event_type_name', 'event_type_id')">{{events_type.event_type_name}}</a>
                                                        {% endfor %}
                                                    </div>
                                                    <input type="hidden" id="event_type_id" name="event_type_id">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Select City</label>
                                                <div class="col-sm-9">

                                                    <input type="text" id="city_name" readonly
                                                           onclick="toggleDropdown('myDropdown2')"
                                                           placeholder="Search.." class="form-control">

                                                    <div id="myDropdown2" class="dropdown-content">
                                                        <input type="text" placeholder="Search.." id="myInput2"
                                                               onkeyup="filterFunction('myDropdown2')"
                                                               class="form-control">
                                                        {% for city in location.city_list %}
                                                        <a onclick="setValue('{{city.city_name}}', '{{city.city_id}}', 'city_name', 'city_id')">{{city.city_name}}</a>
                                                        {% endfor %}
                                                    </div>
                                                    <input type="hidden" id="city_id" name="city_id">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Select Printer</label>
                                                <div class="col-sm-9">

                                                    <input type="text" id="printer_name" readonly
                                                           onclick="toggleDropdown('myDropdown3')"
                                                           placeholder="Search.." class="form-control">

                                                    <div id="myDropdown3" class="dropdown-content">
                                                        <input type="text" placeholder="Search.." id="myInput3"
                                                               onkeyup="filterFunction('myDropdown3')"
                                                               class="form-control">
                                                        {% for printers in printers.printer_data %}
                                                        <a onclick="setValue('{{printers.store_name}}', '{{printers.id}}', 'printer_name', 'printer_id')">{{printers.store_name}}</a>
                                                        {% endfor %}
                                                    </div>
                                                    <input type="hidden" id="printer_id" name="printer_id">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Event Date</label>
                                                <div class="col-sm-9">
                                                    <input type="datetime-local" id="event_date"
                                                           name="event_date"
                                                           class="form-control"
                                                           placeholder="username">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Address Line1</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="address_line1"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Address Line2</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="address_line2"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Event Lat Lng</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" placeholder="13.0916688-77.407799"
                                                           id="event_lat_lng" name="event_lat_lng"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Added By</label>
                                                <div class="col-sm-9">
                                                    <label class="form-control">{{ request.session.name }}</label>
                                                    <input type="hidden" id="created_by_uid" name="created_by_uid"
                                                           value="{{ request.session.uid }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleTextarea1">Textarea</label>
                                        <textarea class="form-control" id="event_note" rows="4"
                                                  name="event_note"></textarea>
                                    </div>

                                    <div id="events-container">
                                        <label>Sub Events</label>
                                        <div class="event-row">
                                            <input class="event-input" type="text" name="events[0][event_name]"
                                                   placeholder="Sub Event Name">
                                            <input class="event-input" type="datetime-local"
                                                   name="events[0][start_time]" placeholder="Start Time">
                                            <input class="event-input" type="datetime-local" name="events[0][end_time]"
                                                   placeholder="End Time">
                                        </div>
                                    </div>
                                    <button type="button" id="addEventButton">Add Sub Event</button>
                                    <button type="button" id="removeEventButton" style="display: none;">Remove Sub
                                        Event
                                    </button>


                                    <div class="center-button">
                                        <input type="submit" value="Submit" class="btn btn-primary mr-2">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a
                            href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i
                            class="ti-heart text-danger ml-1"></i></span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

<script>
// Function to toggle a specific dropdown based on its ID
function toggleDropdown(dropdownId) {
  var dropdown = document.getElementById(dropdownId);
  dropdown.classList.toggle("show");
}

// Function to filter the dropdown content based on the input value
function filterFunction(dropdownId) {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput" + dropdownId.slice(-1));
  filter = input.value.toUpperCase();
  div = document.getElementById(dropdownId);
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}

function setValue(value1, value2, inputField1Id, inputField2Id) {
  if (value1 && value2) {
    document.getElementById(inputField1Id).value = value1;
    console.log(inputField1Id)
    console.log(value1)
    console.log(value2)
    document.getElementById(inputField2Id).value = value2;
    // Optionally, you can hide the dropdown after selecting a value
    var dropdowns = document.getElementsByClassName("dropdown-content");
    for (var i = 0; i < dropdowns.length; i++) {
      dropdowns[i].classList.remove("show");
    }
  }
}














</script>
<!-- my_template.html -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const addEventButton = document.getElementById('addEventButton');
        const removeEventButton = document.getElementById('removeEventButton');
        const eventsContainer = document.getElementById('events-container');
        let eventIndex = 1;

        addEventButton.addEventListener('click', function () {
             if (eventIndex < 2) {
                const eventRow = document.createElement('div');
                eventRow.classList.add('event-row');
                eventRow.innerHTML = `
                    <input class="event-input" type="text" name="events[${eventIndex}][event_name]" placeholder="Sub Event Name">
                    <input class="event-input" type="datetime-local" name="events[${eventIndex}][start_time]" placeholder="Start Time">
                    <input class="event-input" type="datetime-local" name="events[${eventIndex}][end_time]" placeholder="End Time">
                `;
                eventsContainer.appendChild(eventRow);
                eventIndex++;
            }

            if (eventIndex === 2) {
                addEventButton.style.display = 'none';
                removeEventButton.style.display = 'block';
            }

            if (eventIndex === 1) {
                removeEventButton.style.display = 'none';
                addEventButton.style.display = 'block';
            }
        });

        removeEventButton.addEventListener('click', function () {
            if (eventIndex > 1) {
                eventIndex--;
                const eventRows = eventsContainer.getElementsByClassName('event-row');
                eventsContainer.removeChild(eventRows[eventIndex]);
            }

            if (eventIndex === 2) {
                addEventButton.style.display = 'none';
                removeEventButton.style.display = 'block';
            }

            if (eventIndex === 1) {
                removeEventButton.style.display = 'none';
                addEventButton.style.display = 'block';
            }
        });
    });

</script>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{% static 'vendors/typeahead.js/typeahead.bundle.min.js' %}"></script>
<script src="{% static 'vendors/select2/select2.min.js' %}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->

<script src="{% static 'js/off-canvas.js' %}"></script>
<script src="{% static 'js/hoverable-collapse.js' %}"></script>
<script src="{% static 'js/template.js' %}"></script>
<script src="{% static 'js/settings.js' %}"></script>
<script src="{% static 'js/todolist.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="{% static 'js/file-upload.js' %}"></script>
<script src="{% static 'js/typeahead.js' %}"></script>
<script src="{% static 'js/select2.js' %}"></script>

<!-- End custom js for this page-->

</body>

</html>
