<!DOCTYPE html>
<html>
<head>
    <title>Popup</title>
    <!-- Add any CSS files or styles needed for the popup here -->
</head>
<body>
    <div class="popupDiv">
        <form class="form-sample" action="/add_kyc" method="post">
            <div class="form-group">
                <label for="exampleInputUsername1">Username</label>
                <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Username">
            </div>
            <div class="center-button">
                <input type="submit" value="Submit" class="btn btn-primary mr-2">
            </div>
        </form>
    </div>
</body>
</html>
