<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shagun Admin</title>
    <!-- plugins:css -->
    {% load static%}
    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'vendors/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/select2-bootstrap-theme/select2-bootstrap.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">

    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

    <style>
        .center-button {
          display: flex;
          justify-content: center;
        }
        .dropbtn {
          background-color: #04AA6D;
          color: white;
          padding: 16px;
          font-size: 16px;
          border: none;
          cursor: pointer;
        }

        .dropbtn:hover, .dropbtn:focus {
          background-color: #3e8e41;
        }

        #myInput {
          box-sizing: border-box;
          background-image: url('searchicon.png');
          background-position: 14px 12px;
          background-repeat: no-repeat;
          font-size: 16px;
          padding: 14px 20px 12px 45px;
          border: none;
          border-bottom: 1px solid #ddd;
        }

        #myInput:focus {outline: 3px solid #ddd;}







    </style>

</head>

<body>
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    {% include 'app_bar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_settings-panel.html -->
        {% include 'theme_setting.html' %}
        <!-- partial -->
        <!-- partial:../../partials/_sidebar.html -->
        {% include 'nav_bar.html' %}
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Edit Kyc</h4>
                                <form class="form-sample" action="{% url 'edit_kyc' kyc_data.kyc.id %}" method="post"
                                      enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <p class="card-description">
                                        Personal info
                                    </p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">User</label>
                                                <div class="col-sm-9">
                                                    <input type="text" id="name" readonly onclick="myFunction()"
                                                           class="form-control" value="{{kyc_data.kyc.username}}">
                                                    <input type="hidden" id="uid" name="uid"
                                                           value="{{kyc_data.kyc.uid}}">
                                                    <input type="hidden" id="id" name="id"
                                                           value="{{kyc_data.kyc.id}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Full Name</label>
                                                <div class="col-sm-9">
                                                    <input type="text" id="full_name" name="full_name"
                                                           class="form-control"
                                                           value="{{kyc_data.kyc.full_name}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Gender</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" name="gender">
                                                        {% if kyc_data.kyc.gender == "Male" %}
                                                        <option selected>Male</option>
                                                        <option>Female</option>
                                                        {% elif kyc_data.kyc.gender == "Female" %}
                                                        <option>Male</option>
                                                        <option selected>Female</option>
                                                        {% endif %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Date of Birth</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" value="{{kyc_data.kyc.dob}}" id="dob"
                                                           name="dob"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Identification Proof1</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" name="identification_proof1">
                                                        {% if kyc_data.kyc.identification_proof1 == "Aadhar Card" %}
                                                        <option selected>Aadhar Card</option>
                                                        <option>Driving License</option>
                                                        <option>Voter ID</option>
                                                        <option>Ration Card</option>
                                                        {% elif kyc_data.kyc.identification_proof1 == "Driving License" %}
                                                        <option selected>Driving License</option>
                                                        <option>Aadhar Card</option>
                                                        <option>Voter ID</option>
                                                        <option>Ration Card</option>
                                                        {% elif kyc_data.kyc.identification_proof1 == "Voter ID" %}
                                                        <option selected>Voter ID</option>
                                                        <option>Aadhar Card</option>
                                                        <option>Driving License</option>
                                                        <option>Ration Card</option>
                                                        {% elif kyc_data.kyc.identification_proof1 == "Ration Card" %}
                                                        <option selected>Ration Card</option>
                                                        <option>Aadhar Card</option>
                                                        <option>Driving License</option>
                                                        <option>Voter ID</option>
                                                        {% endif %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Identification Number1</label>
                                                <div class="col-sm-9">
                                                    <input type="text" id="identification_number1"
                                                           name="identification_number1"
                                                           class="form-control"
                                                           value="{{kyc_data.kyc.identification_number1}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Identification Proof2</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" name="identification_proof2">
                                                        <option>PAN CARD</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Identification Number2</label>
                                                <div class="col-sm-9">
                                                    <input type="text" id="identification_number2"
                                                           name="identification_number2"
                                                           class="form-control"
                                                           value="{{kyc_data.kyc.identification_number2}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Identification Doc1</label>
                                                <div class="col-sm-9">
                                                    <input accept=".jpg, .jpeg, .png, .gif, .pdf" type="file"
                                                           name="document1" class="file-upload-default">
                                                    <div class="input-group col-xs-12">
                                                        <input type="text" class="form-control file-upload-info"
                                                               disabled value="{{kyc_data.kyc.identification_doc1}}">
                                                        <span class="input-group-append">
                                                            <button class="file-upload-browse btn btn-primary"
                                                                    type="button">Upload</button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Identification Doc2</label>
                                                <div class="col-sm-9">
                                                    <input accept=".jpg, .jpeg, .png, .gif, .pdf" type="file"
                                                           name="document2" class="file-upload-default"
                                                           value="{{kyc_data.kyc.identification_doc2}}">
                                                    <div class="input-group col-xs-12">
                                                        <input type="text" class="form-control file-upload-info"
                                                               disabled
                                                               value="{{kyc_data.kyc.identification_doc2}}">
                                                        <span class="input-group-append">
                                                  <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                                                </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--                                        <div class="col-md-6">-->
                                        <!--                                            <div class="form-group row">-->
                                        <!--                                                <label class="col-sm-3 col-form-label">Identification Doc2</label>-->
                                        <!--                                                <div class="col-sm-9">-->
                                        <!--                                                    <input type="file" id="fileInput2" name="document2"-->
                                        <!--                                                           accept=".jpg, .jpeg, .png, .gif, .pdf" class="form-control">-->
                                        <!--                                                </div>-->
                                        <!--                                            </div>-->
                                        <!--                                        </div>-->
                                    </div>
                                    <p class="card-description">
                                        Address
                                    </p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Address 1</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="adress1"
                                                           value="{{kyc_data.kyc.address_line1}}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">State</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="state"
                                                           value="{{kyc_data.kyc.state}}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Address 2</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="adress2"
                                                           value="{{kyc_data.kyc.address_line2}}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Postcode</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="postcode"
                                                           value="{{kyc_data.kyc.postcode}}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">City</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="city"
                                                           value="{{kyc_data.kyc.city}}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Country</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" name="country">
                                                        <option>India</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Activate/ Deactivate</label>
                                                <div class="col-sm-9">
                                                    <div class="dropdown">
                                                        <button type="button"
                                                                class="btn btn-outline-info dropdown-toggle"
                                                                id="dropdownMenuIconButton2" data-toggle="dropdown"
                                                                aria-haspopup="true"
                                                                aria-expanded="false">
                                                            {% if kyc_data.kyc.verification_status == 0 %}
                                                            Inactive
                                                            {% elif kyc_data.kyc.verification_status == 1 %}
                                                            Active
                                                            {% endif %}
                                                        </button>
                                                        <div class="dropdown-menu"
                                                             aria-labelledby="dropdownMenuIconButton3">
                                                            <a class="dropdown-item"
                                                               href="{% url 'activate_deactivate_kyc' kyc_data.kyc.id 1 %}">Active</a>
                                                            <a class="dropdown-item"
                                                               href="{% url 'activate_deactivate_kyc' kyc_data.kyc.id 0 %}">Inactive</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">created on</label>
                                                <div class="col-sm-9">
                                                    <input disabled type="text" class="form-control" name="city"
                                                           value="{{kyc_data.kyc.created_on}}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Approved by</label>
                                                <div class="col-sm-9">
                                                    <input disabled type="text" class="form-control" name="adress2"
                                                           value="{{kyc_data.kyc.approved_by}}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Approved on</label>
                                                <div class="col-sm-9">
                                                    <input disabled type="text" class="form-control" name="postcode"
                                                           value="{{kyc_data.kyc.approved_on}}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Last Modified by</label>
                                                <div class="col-sm-9">
                                                    <input disabled type="text" class="form-control"
                                                           value="{{kyc_data.kyc.updated_by}}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Last Modified on</label>
                                                <div class="col-sm-9">
                                                    <input disabled type="text" class="form-control"
                                                           value="{{kyc_data.kyc.updated_on}}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" id="modified_by_uid" name="modified_by_uid"
                                                           value="{{ request.session.uid }}">
                                    <div class="center-button">
                                        <input type="submit" value="Submit" class="btn btn-primary mr-2">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            {% include 'footer.html' %}
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{% static 'vendors/typeahead.js/typeahead.bundle.min.js' %}"></script>
<script src="{% static 'vendors/select2/select2.min.js' %}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->

<script src="{% static 'js/off-canvas.js' %}"></script>
<script src="{% static 'js/hoverable-collapse.js' %}"></script>
<script src="{% static 'js/template.js' %}"></script>
<script src="{% static 'js/settings.js' %}"></script>
<script src="{% static 'js/todolist.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="{% static 'js/file-upload.js' %}"></script>
<script src="{% static 'js/typeahead.js' %}"></script>
<script src="{% static 'js/select2.js' %}"></script>

<!-- End custom js for this page-->

</body>

</html>
