<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shagun Admin</title>
    <!-- plugins:css -->
    {% load static%}
    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/select.dataTables.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <!--    &lt;!&ndash; Required meta tags &ndash;&gt;-->
    <!--    <meta charset="utf-8">-->
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <!--    <title>Shagun Admin</title>-->
    <!--    &lt;!&ndash; plugins:css &ndash;&gt;-->
    <!--    {% load static%}-->
    <!--    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">-->
    <!--    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">-->
    <!--    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">-->

    <!--    &lt;!&ndash; endinject &ndash;&gt;-->
    <!--    &lt;!&ndash; Plugin css for this page &ndash;&gt;-->
    <!--    &lt;!&ndash; End plugin css for this page &ndash;&gt;-->
    <!--    &lt;!&ndash; inject:css &ndash;&gt;-->
    <!--    <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">-->
    <!--    &lt;!&ndash; endinject &ndash;&gt;-->
    <!--    <link rel="stylesheet" href="{% static 'images/favicon.png' %}">-->
    <style>
        .header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .card-title {
            margin: 0;
        }

        .btn {
            margin: 0;
        }

        .btn-icon-text {
            display: flex;
            align-items: center;
        }

        .btn-icon-text i {
            margin-left: 5px;
        }

        /* Styling for the centered popup */
        #popupDiv1, #popupDiv {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            width: 50%;
            transform: translate(-50%, -50%);
            border: 2px solid lightskyblue;
            padding: 20px;
            background-color: #fff;
            z-index: 9999;
            background-color: #f0f0f0;
        }

        .center-button {
          display: flex;
          justify-content: center;

        }
        .center-button button {
            margin-right: 10px;
        }



    </style>
</head>

<body>
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    {% include 'app_bar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_settings-panel.html -->
        {% include 'theme_setting.html' %}
        <!-- partial -->
        <!-- partial:../../partials/_sidebar.html -->
        {% include 'nav_bar.html' %}
        <!-- partial -->
        <div class="col-lg-10 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="header-container">
                        <h4 class="card-title">Locations</h4>
                        <button type="button" class="btn btn-outline-info btn-icon-text"
                                onclick="showPopUpDiv1()">
                            Location
                            <i class="ti-plus btn-icon-append"></i>
                        </button>
                        <div id="popupDiv1">
                            <form class="form-sample" action="/add_location" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Location Name </label>
                                            <div class="col-sm-9">
                                                <input id="city_name" name="city_name" type="text"
                                                       class="form-control"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Created By</label>
                                            <div class="col-sm-9">
                                                <label class="form-control">{{ request.session.name }}</label>
                                                <input type="hidden" id="created_by_uid" name="created_by_uid"
                                                       value="{{ request.session.uid }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="center-button">
                                    <button type="button" onclick="hidePopUpDiv1()"
                                            class="btn btn-inverse-dark btn-fw">Cancel
                                    </button>
                                    <input type="submit" value="Submit" class="btn btn-primary mr-2">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Location Id</th>
                                <th>Name Name</th>
                                <th>Status</th>
                                <th>Activate/Deactivate</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for location in locations %}
                            <tr>
                                <td>{{ location.location_id }}</td>
                                <td>{{ location.location_name }}</td>
                                <td>
                                    {% if location.status == 1 %}
                                    <label class="badge badge-success">Active</label>
                                    {% elif location.status == 0 %}
                                    <label class="badge badge-danger">Inactive</label>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-outline-info dropdown-toggle"
                                                id="dropdownMenuIconButton2" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                            {% if location.status == 0 %}
                                            Inactive
                                            {% elif location.status == 1 %}
                                            Active
                                            {% endif %}
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuIconButton3">
                                            <a class="dropdown-item"
                                               href="{% url 'activate_deactivate_location' location.location_id 1 %}">Active</a>
                                            <a class="dropdown-item"
                                               href="{% url 'activate_deactivate_location' location.location_id 0 %}">Inactive</a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button onclick="showPopUpDiv('{{location.location_id}}', '{{location.location_name}}')"
                                            class="btn btn-outline-info btn-fw">Edit
                                    </button>
                                    <div id="popupDiv">
                                        <form class="form-sample" action="/edit_location" method="post">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Location ID </label>
                                                        <div class="col-sm-9">
                                                            <input readonly id="id" name="id" type="text"
                                                                   class="form-control"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Name</label>
                                                        <div class="col-sm-9">
                                                            <input id="name" type="text" class="form-control"
                                                                   name="name"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="center-button">
                                                <button type="button" onclick="hidePopUpDiv()"
                                                        class="btn btn-inverse-dark btn-fw">Cancel
                                                </button>
                                                <input type="submit" value="Submit" class="btn btn-primary mr-2">
                                            </div>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- content-wrapper ends -->
<!-- partial:../../partials/_footer.html -->
{% include 'footer.html' %}
<!-- partial -->
</div>
<!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>

<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{% static 'js/off-canvas.js' %}"></script>
<script src="{% static 'js/hoverable-collapse.js' %}"></script>
<script src="{% static 'js/template.js' %}"></script>
<script src="{% static 'js/settings.js' %}"></script>
<script src="{% static 'js/todolist.js' %}"></script>

<!-- endinject -->
<!-- Custom js for this page-->
<!-- End custom js for this page-->
<script>
    function showPopUpDiv(val1, val2) {
        // Display the popup by changing its style to "display: block"
        var popupDiv = document.getElementById("popupDiv");
        popupDiv.style.display = "block";

        // Set the values for the fields in the popup form
        document.getElementById("id").value = val1;
        document.getElementById("name").value = val2;
    }

    function hidePopUpDiv() {
        var popupDiv = document.getElementById("popupDiv");
        popupDiv.style.display = "none";
    }

    function showPopUpDiv1() {
        var popupDiv1 = document.getElementById("popupDiv1");
        popupDiv1.style.display = "block";
    }

    function hidePopUpDiv1() {
        var popupDiv1 = document.getElementById("popupDiv1");
        popupDiv1.style.display = "none";
    }

</script>

</body>

</html>
