<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shagun Admin</title>
    <!-- plugins:css -->
    {% load static%}
    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/select.dataTables.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <style>
        .icon-and-text-container {
          display: flex;
        }

        .icon-and-text-container i {
          color: #7da0fa;
          margin-right: 10px;
        }





    </style>
</head>
<body>
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    {% include 'printer_app_bar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_settings-panel.html -->
        {% include 'theme_setting.html' %}
        <!-- partial -->
        <!-- partial:../../partials/_sidebar.html -->
        {% include 'printer_nav_bar.html' %}
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="row">
                            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                                <h3 class="font-weight-bold">Welcome {{ request.session.store_name }}</h3>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 grid-margin transparent">
                        <div class="icon-and-text-container">
                            <i class="fas fa-money-check-alt"></i>
                            <p>Billing Stats</p>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-4 stretch-card transparent">
                                    <div class="card-body">
                                        <p class="mb-4">Total Billing Amount</p>
                                        <p class="fs-30 mb-2">{{ total_amount }}</p>
                                    </div>
                            </div>
                            <div class="col-md-6 mb-4 stretch-card transparent">
                                    <div class="card-body">
                                        <p class="mb-4">Completed Job Billing Amount</p>
                                        <p class="fs-30 mb-2">{{ work_done_amount }}</p>
                                    </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-4 stretch-card transparent">
                                    <div class="card-body">
                                        <p class="mb-4">In Progress Job Billing Amount</p>
                                        <p class="fs-30 mb-2">{{ in_progress_amount }}</p>
                                    </div>
                            </div>
                            <div class="col-md-6 mb-4 stretch-card transparent">
                                    <div class="card-body">
                                        <p class="mb-4">New Job Billing Amount</p>
                                        <p class="fs-30 mb-2">{{ new_amount }}</p>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 grid-margin transparent">
                        <div class="icon-and-text-container">
                            <i class="fas fa-print" style="color:#4747a1;"></i>
                            <p>Printing Vendors Jobs</p>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-4 stretch-card transparent">
                                <a href="{% url 'printer_all_jobs' %}" class="card card-dark-blue">
                                    <div class="card-body">
                                        <p class="mb-4">Total Jobs</p>
                                        <p class="fs-30 mb-2">{{ total_jobs }}</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 mb-4 stretch-card transparent">
                                <a href="{% url 'printer_open_jobs' %}" class="card card-dark-blue">
                                    <div class="card-body">
                                        <p class="mb-4">Open Jobs</p>
                                        <p class="fs-30 mb-2">{{ open_jobs }}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-4 stretch-card transparent">
                                <a href="{% url 'printer_closed_jobs' %}" class="card card-dark-blue">
                                    <div class="card-body">
                                        <p class="mb-4">Completed Jobs</p>
                                        <p class="fs-30 mb-2">{{ completed }}</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 mb-4 stretch-card transparent">
                                <a href="{% url 'printer_new_jobs' %}" class="card card-dark-blue">
                                    <div class="card-body">
                                        <p class="mb-4">New Jobs</p>
                                        <p class="fs-30 mb-2">{{ new_jobs }}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            {% include 'footer.html' %}

            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- plugins:js -->
<script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
<script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'js/dataTables.select.min.js' %}"></script>

<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{% static 'js/off-canvas.js' %}"></script>
<script src="{% static 'js/hoverable-collapse.js' %}"></script>
<script src="{% static 'js/template.js' %}"></script>
<script src="{% static 'js/settings.js' %}"></script>
<script src="{% static 'js/todolist.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'js/Chart.roundedBarCharts.js' %}"></script>
<!-- End custom js for this page-->
</body>

</html>

