<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shagun Admin</title>
    <!-- plugins:css -->
    {% load static%}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'vendors/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/select2-bootstrap-theme/select2-bootstrap.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">

    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

    <style>
        .center-button {
          display: flex;
          justify-content: center;
        }
        .dropbtn {
          background-color: #04AA6D;
          color: white;
          padding: 16px;
          font-size: 16px;
          border: none;
          cursor: pointer;
        }

        .dropbtn:hover, .dropbtn:focus {
          background-color: #3e8e41;
        }

        #myInput {
          box-sizing: border-box;
          background-image: url('searchicon.png');
          background-position: 14px 12px;
          background-repeat: no-repeat;
          font-size: 16px;
          padding: 14px 20px 12px 45px;
          border: none;
          border-bottom: 1px solid #ddd;
        }

        #myInput:focus {outline: 3px solid #ddd;}

        .dropdown {
          position: relative;
          display: inline-block;
        }

        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f6f6f6;
          min-width: 230px;
          max-width: 300px;
          max-height: 400px; /* Limit the maximum height to 400px */
          overflow-y: auto; /* Add a vertical scrollbar when needed */
          border: 1px solid #ddd;
          z-index: 1;
          height: auto; /* Allow the height to wrap content */
        }


        .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }

        .dropdown a:hover {background-color: #ddd;}

        .show {display: block;}


.messages-container {
  background-color: #ffe6e6;
  display: none;
}

/* Style the error messages */
.messages {

  list-style: none;
  margin: 0;
  padding: 0;
}

.messages li {
  color: #b30000; /* Dark red text color for error messages */
  background-color: #ffd9d9; /* Light red background color for error messages */
  border: 1px solid #ff8080; /* Dark red border for error messages */
  padding: 5px;
  border-radius: 3px;
  margin: 3px;
}











    </style>

</head>

<body>
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    {% include 'app_bar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_settings-panel.html -->

        <!-- partial -->
        <!-- partial:../../partials/_sidebar.html -->
        {% include 'nav_bar.html' %}
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <button id="backButton" class="btn btn-outline-info">
                                        <i class="fas fa-arrow-left" style="margin-right:5px;"></i> Go Back
                                    </button>
                                    <label class="ml-2 custom-label"> Add New Bank Account</label>
                                </div>
                                {% if message %}
                                <div style="border: 1px solid #dc3545; color: #dc3545; font-size: 16px; display: flex; justify-content: center; align-items: center;
                                                    text-align: center;padding: 20px;margin-bottom:20px">{{message}} </div>
                                {% endif %}

                                <form class="form-sample needs-validation" action="/add_bank" method="post"
                                      enctype="multipart/form-data" id="myForm" novalidate>
                                    {% csrf_token %}
                                    <p class="card-description">
                                        Bank info
                                    </p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">User <span
                                                        style="font-weight: bold; color: red;">*</span></label>
                                                <div class="col-sm-9">
                                                    <select class="form-control selectpicker" data-live-search="true"
                                                            id="userSelect" required>
                                                        <option value="" >Select an option</option>
                                                        {% for users in user %}
                                                        <option data-name="{{users.name}}"
                                                                data-id="{{users.uid}}">
                                                           {{users.name}}
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                                    <input type="hidden" id="uid" name="uid">
                                                    <div id="error-message1" style="color: #dc3545; font-size: 14px;
                                                    margin-top:5px"></div>
                                                </div>


                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Full Name <span
                                                        style="font-weight: bold; color: red;">*</span></label>
                                                <div class="col-sm-9">
                                                    <input required type="text" id="account_holder_name"
                                                           name="account_holder_name"
                                                           class="form-control"
                                                           pattern="^(?![\s])[A-Za-z ]+$" maxlength="256"
                                                           title="Enter Name"
                                                           placeholder="Enter Full Name">
                                                    <div class="invalid-feedback">Full Name is mandatory</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Select Bank <span
                                                        style="font-weight: bold; color: red;">*</span></label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" name="bank_name" required>
                                                        <option value="" disabled selected>Select an option</option>
                                                        {% for banks in banks.bank_list %}
                                                        <option value="{{banks.bank_name}}">{{banks.bank_name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <div id="error-message2" style="color: #dc3545; font-size: 14px;
                                                    margin-top:5px"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Account Number <span
                                                        style="font-weight: bold; color: red;">*</span></label>
                                                <div class="col-sm-9">
                                                    <input required class="form-control" placeholder="Account Number"
                                                           id="account_number"
                                                           pattern="\d{1,15}"
                                                           name="account_number"/>
                                                    <div class="invalid-feedback">Account number is mandatory/div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">IFSC CODE <span
                                                        style="font-weight: bold; color: red;">*</span></label>
                                                <div class="col-sm-9">
                                                    <input required class="form-control" placeholder="IFSC Code"
                                                           pattern="[^ ].*"
                                                           id="ifsc_code" name="ifsc_code"/>
                                                    <div class="invalid-feedback">IFSC Code is mandatory</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Created By</label>
                                                <div class="col-sm-9">
                                                    <label class="form-control">{{ request.session.name }}</label>
                                                    <input required type="hidden" id="added_by" name="added_by"
                                                           value="{{ request.session.uid }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="center-button">
                                        <input required type="submit" value="Submit" class="btn btn-primary mr-2">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            {% include 'footer.html' %}
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var userSelect = document.getElementById("userSelect");
        var uidInput = document.getElementById("uid");
        var errorMessage = document.getElementById('error-message1');

        userSelect.addEventListener("change", function () {
            errorMessage.style.display = "none";
            var selectedOption = userSelect.options[userSelect.selectedIndex];
            var uid = selectedOption.getAttribute("data-id");

            if (uid) {
                uidInput.value = uid;
            }
        });
    });
</script>

<script>

    function hideBankErrorMessage() {
        var errorMessage2 = document.getElementById('error-message2');
        errorMessage2.style.display = 'none';
    }

    document.querySelector('select[name="bank_name"]').addEventListener('change', hideBankErrorMessage);

    document.getElementById("myForm").addEventListener("submit", function (e) {
        var name = document.getElementById("uid").value;
        var bank = document.querySelector('select[name="bank_name"]');
        var selectedBank = bank.options[bank.selectedIndex].value; // Get the selected bank
        var errorMessage1 = document.getElementById('error-message1');
        var errorMessage2 = document.getElementById('error-message2');

        if (name === "") {
            errorMessage1.textContent = "Please select the user";
            errorMessage1.style.display = 'block';
            e.preventDefault();
        } else {
            errorMessage1.style.display = 'none';
        }

        if (selectedBank === "") {
            errorMessage2.textContent = "Please select the bank";
            errorMessage2.style.display = 'block';
            e.preventDefault();
        } else {
            errorMessage2.style.display = 'none';
        }
    });
</script>


<!-- container-scroller -->
<!-- plugins:js -->
<script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{% static 'vendors/typeahead.js/typeahead.bundle.min.js' %}"></script>
<script src="{% static 'vendors/select2/select2.min.js' %}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->

<script src="{% static 'js/off-canvas.js' %}"></script>
<script src="{% static 'js/hoverable-collapse.js' %}"></script>
<script src="{% static 'js/template.js' %}"></script>
<script src="{% static 'js/settings.js' %}"></script>
<script src="{% static 'js/todolist.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="{% static 'js/file-upload.js' %}"></script>
<script src="{% static 'js/typeahead.js' %}"></script>
<script src="{% static 'js/select2.js' %}"></script>

<!-- End custom js for this page-->

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/tempusdominus-bootstrap-4@5.1.2/build/css/tempusdominus-bootstrap-4.min.css"
      rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tempusdominus-bootstrap-4@5.1.2/build/js/tempusdominus-bootstrap-4.min.js"></script>
</body>

</html>
