<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shagun Admin</title>
    <!-- plugins:css -->
    {% load static%}
    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'vendors/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/select2-bootstrap-theme/select2-bootstrap.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">

    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

    <style>
        .center-button {
          display: flex;
          justify-content: center;
        }
        .dropbtn {
          background-color: #04AA6D;
          color: white;
          padding: 16px;
          font-size: 16px;
          border: none;
          cursor: pointer;
        }

        .dropbtn:hover, .dropbtn:focus {
          background-color: #3e8e41;
        }

        #myInput {
          box-sizing: border-box;
          background-image: url('searchicon.png');
          background-position: 14px 12px;
          background-repeat: no-repeat;
          font-size: 16px;
          padding: 14px 20px 12px 45px;
          border: none;
          border-bottom: 1px solid #ddd;
        }

        #myInput:focus {outline: 3px solid #ddd;}

        .dropdown {
          position: relative;
          display: inline-block;
        }

        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f6f6f6;
          min-width: 230px;
          overflow: auto;
          border: 1px solid #ddd;
          z-index: 1;
          height:400px;
        }

        .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }

        .dropdown a:hover {background-color: #ddd;}

        .show {display: block;}

    </style>

</head>

<body>
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    {% include 'app_bar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_settings-panel.html -->
        {% include 'theme_setting.html' %}
        <!-- partial -->
        <!-- partial:../../partials/_sidebar.html -->
        {% include 'nav_bar.html' %}
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Edit Bank Account {{ bank_data.bank.id}}</h4>
                                <form class="form-sample" action="{% url 'edit_bank' bank_data.bank.id %}" method="post" >
                                    {% csrf_token %}
                                    <p class="card-description">
                                        Bank info
                                    </p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">User</label>
                                                <div class="col-sm-9">
                                                    <input type="text" id="name" readonly onclick="myFunction()"
                                                           value="{{bank_data.bank.name}}" class="form-control">
                                                    <input type="hidden" id="uid" name="uid"
                                                           value="{{bank_data.bank.uid}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Full Name</label>
                                                <div class="col-sm-9">
                                                    <input type="text" id="account_holder_name"
                                                           name="account_holder_name"
                                                           class="form-control"
                                                           value="{{bank_data.bank.account_holder_name}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Select Bank</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" name="bank_name">
                                                        {% for bank in bank_list.bank_list %}
                                                        {% if bank.bank_name == bank_data.bank.bank_name %}
                                                        <option selected>{{ bank.bank_name }}</option>
                                                        {% else %}
                                                        <option>{{ bank.bank_name }}</option>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Account Number</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control"
                                                           value="{{bank_data.bank.account_number}}"
                                                           id="account_number"
                                                           name="account_number"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">IFSC CODE</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" value="{{bank_data.bank.ifsc_code}}"
                                                           id="ifsc_code" name="ifsc_code"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Activate/ Deactivate</label>
                                                <div class="col-sm-9">
                                                    <div class="dropdown">
                                                        <button type="button"
                                                                class="btn btn-outline-info dropdown-toggle"
                                                                id="dropdownMenuIconButton2" data-toggle="dropdown"
                                                                aria-haspopup="true"
                                                                aria-expanded="false">
                                                            {% if bank_data.bank.status == 0 %}
                                                            Inactive
                                                            {% elif bank_data.bank.status == 1 %}
                                                            Active
                                                            {% endif %}
                                                        </button>
                                                        <div class="dropdown-menu"
                                                             aria-labelledby="dropdownMenuIconButton3">
                                                            <a class="dropdown-item"
                                                               href="{% url 'activate_deactivate_bank' bank_data.bank.id 1 %}">Active</a>
                                                            <a class="dropdown-item"
                                                               href="{% url 'activate_deactivate_bank' bank_data.bank.id 0 %}">Inactive</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Created By</label>
                                                <div class="col-sm-9">
                                                    <label class="form-control">{{bank_data.bank.added_by}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Created On</label>
                                                <div class="col-sm-9">
                                                    <label class="form-control">{{bank_data.bank.created_on}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Last Modified By</label>
                                                <div class="col-sm-9">
                                                    <label class="form-control">{{bank_data.bank.modified_by}}</label>
                                                    <input type="hidden" id="modified_by" name="modified_by"
                                                           value="{{ request.session.uid }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Last Modified On</label>
                                                <div class="col-sm-9">
                                                    <label class="form-control">{{bank_data.bank.modified_on}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="center-button">
                                        <input type="submit" value="Submit" class="btn btn-primary mr-2">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            {% include 'footer.html' %}
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>


<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        const dropdown = document.getElementById("myDropdown");
        dropdown.classList.toggle("show");
    }

    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }

    function setValue(value1, value2) {
        document.getElementById("name").value = value1;
        document.getElementById("uid").value = value2;
        myFunction();
    }

    // Add an event listener to the document to close the dropdown when clicking outside
    document.addEventListener("click", function(event) {
        const dropdown = document.getElementById("myDropdown");
        const nameInput = document.getElementById("name");
        if (event.target !== dropdown && event.target !== nameInput && !dropdown.contains(event.target)) {
            dropdown.classList.remove("show");
        }
    });








</script>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{% static 'vendors/typeahead.js/typeahead.bundle.min.js' %}"></script>
<script src="{% static 'vendors/select2/select2.min.js' %}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->

<script src="{% static 'js/off-canvas.js' %}"></script>
<script src="{% static 'js/hoverable-collapse.js' %}"></script>
<script src="{% static 'js/template.js' %}"></script>
<script src="{% static 'js/settings.js' %}"></script>
<script src="{% static 'js/todolist.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="{% static 'js/file-upload.js' %}"></script>
<script src="{% static 'js/typeahead.js' %}"></script>
<script src="{% static 'js/select2.js' %}"></script>

<!-- End custom js for this page-->

</body>

</html>
