<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shagun Admin</title>
    <!-- plugins:css -->
    {% load static%}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/select.dataTables.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <!--    &lt;!&ndash; Required meta tags &ndash;&gt;-->
    <!--    <meta charset="utf-8">-->
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <!--    <title>Shagun Admin</title>-->
    <!--    &lt;!&ndash; plugins:css &ndash;&gt;-->
    <!--    {% load static%}-->
    <!--    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">-->
    <!--    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">-->
    <!--    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">-->

    <!--    &lt;!&ndash; endinject &ndash;&gt;-->
    <!--    &lt;!&ndash; Plugin css for this page &ndash;&gt;-->
    <!--    &lt;!&ndash; End plugin css for this page &ndash;&gt;-->
    <!--    &lt;!&ndash; inject:css &ndash;&gt;-->
    <!--    <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">-->
    <!--    &lt;!&ndash; endinject &ndash;&gt;-->
    <!--    <link rel="stylesheet" href="{% static 'images/favicon.png' %}">-->

    <style>
        .messages-container {
            background-color: #ffe6e6; /* Light pink background color */
            padding: 10px;
            border-radius: 5px;
            margin-top: 20px;
        }

        /* Style the error messages */
        .messages {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .messages li.error {
            color: #b30000; /* Dark red text color for error messages */
            background-color: #ffd9d9; /* Light red background color for error messages */
            border: 1px solid #ff8080; /* Dark red border for error messages */
            padding: 10px;
            border-radius: 3px;
            margin-bottom: 5px;
        }

        /* Style the success messages */
        .messages li.success {
            color: #006400; /* Dark green text color for success messages */
            background-color: #ccffcc; /* Light green background color for success messages */
            border: 1px solid #80ff80; /* Dark green border for success messages */
            padding: 10px;
            border-radius: 3px;
            margin-bottom: 5px;
        }


        .toggle-password {
            position: absolute;
            top: 10px; /* Adjust the top position as needed */
            right: 30px; /* Adjust the right position as needed */
            cursor: pointer;
        }







    </style>

</head>

<body>
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    {% include 'app_bar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_settings-panel.html -->

        <!-- partial -->
        <!-- partial:../../partials/_sidebar.html -->
        {% include 'nav_bar.html' %}
        <!-- partial -->
        <div class="col-lg-10 grid-margin stretch-card">
            <div class="card">
                <div class="content-wrapper d-flex align-items-center auth px-0">
                    <div class="card-body">
                        <div class="form-group">
                            <button onclick="window.location.href='{% url 'admin_dashboard' %}'" class="btn btn-outline-info">
                                <i class="fas fa-arrow-left" style="margin-right:5px;"></i> Go Back
                            </button>
                            <label class="ml-2 custom-label"> Change Password </label>
                        </div>
                        <div class="row w-100 mx-0">
                            <div class="col-lg-4 mx-auto">
                                <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                                    {% if messages %}
                                    <div class="messages-container">
                                        <ul class="messages">
                                            {% for message in messages %}
                                            {% if message.tags %}
                                            <li class="{{ message.tags }}">{{ message }}</li>
                                            {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <br>
                                    {% endif %}
                                    <h4>Hello! let's set new password</h4>
                                    <h6 class="font-weight-light">Enter passwords to continue.</h6>

                                    <form class="pt-3 novalidate needs-password-validation" action="/update_password"
                                          method="post" novalidate>
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <div class="col-sm-12">
                                                        <input required type="password" id="old_password"
                                                               name="old_password"
                                                               class="form-control form-control-lg"
                                                               placeholder="Old Password">
                                                        <i class="toggle-password"
                                                           onclick="toggleVisibility('old_password')">&#x1f441;</i>
                                                        <div class="invalid-feedback">Old password is mandatory</div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <div class="col-sm-12">
                                                        <input required type="password" id="password"
                                                               name="new_password"
                                                               class="form-control form-control-lg"
                                                               pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).{8,12}$"
                                                               placeholder="New Password">
                                                        <i class="toggle-password"
                                                           onclick="toggleVisibility('password')">&#x1f441;</i>
                                                        <div class="invalid-feedback">Password Requirements: 8-12
                                                            characters, at least one uppercase letter, one lowercase
                                                            letter,
                                                            one number, one special character.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <input required type="password" id="confirmPassword" name="conf_password"
                                                   class="form-control form-control-lg"
                                                   placeholder="Confirm Password">
                                            <div class="invalid-feedback">Passwords should match</div>

                                        </div>

                                        <input type="hidden" id="uid" name="uid"
                                               class="form-control form-control-lg"
                                               value="{{ request.session.uid }}">

                                        <input type="submit" value="Submit" id="submitBtn"
                                               class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
                                    </form>
                                    <div class="my-2 d-flex justify-content-center align-items-center">
                                        <a href="{% url 'forgot_password' 'staff' %}" class="auth-link text-black">Forgot
                                            password?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<!-- content-wrapper ends -->
<!-- partial:../../partials/_footer.html -->
{% include 'footer.html' %}
<!-- partial -->
</div>
<!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->

<script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>

<script>
    function toggleVisibility(fieldId) {
      var field = document.getElementById(fieldId);
      if (field.type === 'password') {
        field.type = 'text';
      } else {
        field.type = 'password';
      }
    }







</script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{% static 'js/off-canvas.js' %}"></script>
<script src="{% static 'js/hoverable-collapse.js' %}"></script>
<script src="{% static 'js/template.js' %}"></script>
<script src="{% static 'js/settings.js' %}"></script>
<script src="{% static 'js/todolist.js' %}"></script>

<!-- endinject -->
<!-- Custom js for this page-->
<!-- End custom js for this page-->


</body>

</html>
