<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shagun Admin</title>
    <!-- plugins:css -->
    {% load static%}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'vendors/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/select2-bootstrap-theme/select2-bootstrap.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">

    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <style>
        .custom-alert-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5); /* Semi-transparent background overlay */
            display: none;
            align-items: center;
            justify-content: center;
            z-index: 1000; /* Ensure the overlay is on top of other content */
          }

          .custom-alert {
            background-color: #ffffe0;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 20px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          }

          .icon-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px; /* Add spacing between icons and text */
        }

        /* Center the text vertically */
        .custom-alert span {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px; /* Add spacing between text and button */
        }
        .center-button {
          display: flex;
          justify-content: center;

        }
        .center-button button {
            margin-right: 10px;
        }

    </style>

</head>

<body>
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    {% include 'app_bar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_settings-panel.html -->

        <!-- partial -->
        <!-- partial:../../partials/_sidebar.html -->
        {% include 'nav_bar.html' %}
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div id="customAlertOverlay3" class="custom-alert-overlay">
                    <div class="custom-alert">
                        <label class="form-group">
                            <p>Please confirm if you want to save the changes</p>
                        </label>
                        <div class="center-button">
                            <button type="button" onclick="hideActivationPopUpDiv()"
                                    class="btn btn-outline-danger btn-fw">
                                Cancel
                            </button>
                            <button type="submit" id="confirmButton" class="btn btn-outline-success btn-fw">Confirm
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="ml-2 custom-label"> <h4 class="card-title">App Settings</h4> </label>
                                </div>

                                <p style="margin-bottom:25px;">
                                    <b>Map API Details
                                    </b>
                                </p>
                                <form class="forms-sample needs-validation" action="/app_settings" method="post"
                                      enctype="multipart/form-data" id="myForm">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="map_api_key">Google Map API Key</label>
                                        <input type="text" class="form-control" id="map_api_key"
                                               name="map_api_key"
                                               placeholder="Google Map API Key" value="{{ credentials.map_api_key }}">
                                    </div>
                                    <p style="margin-bottom:25px;">
                                        <b>Email JS Details
                                        </b>
                                    </p>
                                    <div class="form-group">
                                        <label for="map_api_key">Email JS URL</label>
                                        <input type="text" class="form-control" id="emailjs_url"
                                               name="emailjs_url"
                                               placeholder="Email JS URL" value="{{ credentials.emailjs_url }}">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Service Id</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control"
                                                           value="{{ credentials.emailjs_service_id }}"
                                                           name="emailjs_service_id" placeholder="Email JS service Id"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Template Id</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control"
                                                           name="emailjs_template_id"
                                                           value="{{ credentials.emailjs_template_id }}"
                                                           placeholder="Email JS template Id"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">User Id</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control"
                                                           value="{{ credentials.emailjs_user_id }}"
                                                           name="emailjs_user_id" placeholder="Email JS user Id"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">G-recaptcha</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control"
                                                           name="emailjs_grecaptcha_response"
                                                           value="{{ credentials.emailjs_grecaptcha_response }}"
                                                           placeholder="Email JS G-recaptcha"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p style="margin-bottom:25px;">
                                        <b>Android App Data</b>
                                    </p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Package Name</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control"
                                                           name="android_app_package_name"
                                                           value="{{ credentials.android_app_package_name }}"
                                                           placeholder=" Android app package name"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">App Name</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control"
                                                           value="{{ credentials.android_app_name }}"
                                                           name="android_app_name" placeholder=" Android app name"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Min Version</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control"
                                                           name="android_min_version"
                                                           value="{{ credentials.android_min_version }}"
                                                           placeholder=" Android min app version"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Max Version</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control"
                                                           name="android_max_version"
                                                           value="{{ credentials.android_max_version }}"
                                                           placeholder=" Android max app version"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p style="margin-bottom:25px;">
                                        <b>IOS App Data</b>
                                    </p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Package Name</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control"
                                                           name="ios_app_package_name"
                                                           value="{{ credentials.ios_app_package_name }}"
                                                           placeholder=" IOS app package name"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">App Name</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="ios_app_name"
                                                           value="{{ credentials.ios_app_name }}"
                                                           placeholder=" IOS app name"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Min Version</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control"
                                                           value="{{ credentials.ios_min_version }}"
                                                           name="ios_min_version" placeholder=" IOS min app version"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Max Version</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control"
                                                           value="{{ credentials.ios_max_version }}"
                                                           name="ios_max_version" placeholder=" IOS max app version"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p style="margin-bottom:25px;">
                                        <b>Payment Gateway</b>
                                    </p>
                                    <div class="form-group">
                                        <label for="cashfree_api">Cashfree API URL</label>
                                        <input type="text" class="form-control" id="cashfree_api"
                                               name="cashfree_api_url"
                                               value="{{ credentials.cashfree_api_url }}"
                                               placeholder="Cashfree API URL">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Secret Key</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control"
                                                           name="cashfree_secret_key"
                                                           value="{{ credentials.cashfree_secret_key }}"
                                                           placeholder=" Cashfree Secret Key"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Client Key</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control"
                                                           name="cashfree_client_key"
                                                           value="{{ credentials.cashfree_client_key }}"
                                                           placeholder=" Cashfree Client Key"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="deep_link">Deep Link</label>
                                        <input type="text" class="form-control" id="deep_link" name="deep_link"
                                               value="{{ credentials.deep_link }}"
                                               placeholder="Deep Link">
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-outline-info mb-4"
                                                onclick="showCustomAlertForActivateInactive(); return false;">Submit
                                        </button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            {% include 'footer.html' %}
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

<!-- my_template.html -->

<!--<script>-->
<!--    function showCustomAlertForActivateInactive() {-->
<!--        var customAlertOverlay = document.getElementById("customAlertOverlay3");-->
<!--        customAlertOverlay.style.display = "flex";-->
<!--    }-->

<!--    var confirmButton = document.getElementById("confirmButton");-->
<!--    confirmButton.addEventListener("click", function() {-->
<!--        var url = '/app_settings/';-->
<!--        console.log(url);-->

<!--        // Get the form data-->
<!--        var formData = new FormData(document.getElementById("myForm"));-->
<!--        console.log(formData);-->

<!--        // Create a POST request-->
<!--        fetch(url, {-->
<!--            method: 'POST',-->
<!--            body: formData,-->
<!--        })-->
<!--        .then(response => {-->
<!--            console.log("Response status: " + response.status);-->
<!--            console.log("Response headers: " + response.data);-->
<!--            return response.json();-->
<!--        })-->
<!--        .then(data => {-->
<!--            console.log(data);-->

<!--            if (data.status) {-->
<!--                console.log("success")-->
<!--                var url = '/admin_dashboard/';-->
<!--                console.log(url);-->
<!--                window.location.href = url;-->
<!--            } else {-->
<!--                console.log("fail")-->
<!--                var url = '/app_settings/';-->
<!--                console.log(url);-->
<!--                window.location.href = url;-->
<!--            }-->
<!--            // After handling the response, hide the popup-->
<!--            hideActivationPopUpDiv();-->
<!--        });-->
<!--    });-->

<!--    function hideActivationPopUpDiv() {-->
<!--        var customAlertOverlay = document.getElementById("customAlertOverlay3");-->
<!--        customAlertOverlay.style.display = "none";-->
<!--    }-->
<!--</script>-->

<!-- container-scroller -->
<!-- plugins:js -->
<script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{% static 'vendors/typeahead.js/typeahead.bundle.min.js' %}"></script>
<script src="{% static 'vendors/select2/select2.min.js' %}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->

<script src="{% static 'js/off-canvas.js' %}"></script>
<script src="{% static 'js/hoverable-collapse.js' %}"></script>
<script src="{% static 'js/template.js' %}"></script>
<script src="{% static 'js/settings.js' %}"></script>
<script src="{% static 'js/todolist.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="{% static 'js/file-upload.js' %}"></script>
<script src="{% static 'js/typeahead.js' %}"></script>
<script src="{% static 'js/select2.js' %}"></script>

</body>

</html>
