<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shagun Admin</title>
    <!-- plugins:css -->
    {% load static%}
    <link rel="stylesheet" href="{% static 'vendors/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/select2-bootstrap-theme/select2-bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'vendors/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/select2-bootstrap-theme/select2-bootstrap.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">

    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

    <style>
        .center-button {
          display: flex;
          justify-content: center;
        }
        .dropbtn {
          background-color: #04AA6D;
          color: white;
          padding: 16px;
          font-size: 16px;
          border: none;
          cursor: pointer;
        }

        .dropbtn:hover, .dropbtn:focus {
          background-color: #3e8e41;
        }

        #myInput {
          box-sizing: border-box;
          background-image: url('searchicon.png');
          background-position: 14px 12px;
          background-repeat: no-repeat;
          font-size: 16px;
          padding: 14px 20px 12px 45px;
          border: none;
          border-bottom: 1px solid #ddd;
        }

        #myInput:focus {outline: 3px solid #ddd;}

        .dropdown {
          position: relative;
          display: inline-block;
        }

        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f6f6f6;
          min-width: 100%;
          max-width: 100%;
          max-height: 400px;
          overflow-y: auto;
          border: 1px solid #ddd;
          z-index: 1;
          height: auto;
        }


        .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }

        .dropdown a:hover {background-color: #ddd;}

        .show {display: block;}


    .event-row {
        display: flex;
        flex-wrap: wrap;
    }

    #addSubEventButton,
    #removeEventButton,
    #addEventAdminButton,
    #removeEventAdminButton {
        padding: 8px 15px;
        border: none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
    }

    #addSubEventButton {
        background-color: #2196F3;
    }

    #removeEventButton {
        background-color: #f44336;
    }

    #addEventAdminButton {
        background-color: #2196F3;
    }

    #removeEventAdminButton {
        background-color: #f44336;
    }
    #map {
        height: 300px;
        margin: 20px;
    }

    .messages-container {
      background-color: #ffe6e6; /* Light pink background color */
      padding: 10px;
      border-radius: 5px;
      margin-top: 20px;
      display: none;
    }

    /* Style the error messages */
    .messages {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .messages li {
      color: #b30000; /* Dark red text color for error messages */
      background-color: #ffd9d9; /* Light red background color for error messages */
      border: 1px solid #ff8080; /* Dark red border for error messages */
      padding: 10px;
      border-radius: 3px;
      margin-bottom: 5px;
    }

    .event-row {
        display: flex;
        flex-wrap: wrap;
    }

    .event-input {
        width: 30%;
        padding: 8px;
        margin: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .dropdown {
          position: relative;
          display: inline-block;
        }

        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #ffffff;
          min-width: 230px;
          max-width: 300px;
          max-height: 400px; /* Limit the maximum height to 400px */
          overflow-y: auto; /* Add a vertical scrollbar when needed */
          border: 1px solid #ddd;
          z-index: 1;
          height: auto; /* Allow the height to wrap content */
        }


        .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          cursor: pointer;
        }
        .dropdown-content a:hover {
            background-color: #ddd;
        }
        .dropdown a:hover {background-color: #ddd;}

        .show {display: block;}





    </style>

</head>

<body>
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    {% include 'app_bar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_settings-panel.html -->

        <!-- partial -->
        <!-- partial:../../partials/_sidebar.html -->
        {% include 'nav_bar.html' %}
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <button id="backButton" class="btn btn-outline-info">
                                        <i class="fas fa-arrow-left" style="margin-right:5px;"></i> Go Back
                                    </button>
                                    <label class="ml-2 custom-label"> Add New Event </label>
                                </div>

                                <form class="form-sample needs-validation" action="/add_events" method="post"
                                      enctype="multipart/form-data" id="myForm" novalidate>
                                    {% csrf_token %}
                                    <p class="card-description">
                                        Event info
                                    </p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Select Event Type <span
                                                        style="font-weight: bold; color: red;">*</span></label>
                                                <div class="col-sm-9">
                                                    <select class="form-control selectpicker" data-live-search="true"
                                                            id="selector1" required>
                                                        <option value="" disabled selected>Select an option</option>
                                                        {% for events_type in event_types.event_type_list %}
                                                        <option data-name="{{events_type.event_type_name}}"
                                                                data-id="{{events_type.id}}">
                                                            {{events_type.event_type_name}}
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                                    <input type="hidden" id="selectorId1" name="event_type_id">
                                                    <div id="error-message1"
                                                         style="color: #dc3545; font-size: 14px; margin-top: 5px"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Select City <span
                                                        style="font-weight: bold; color: red;">*</span></label>
                                                <div class="col-sm-9">
                                                    <select class="form-control selectpicker" data-live-search="true"
                                                            id="selector2" required>
                                                        <option value="" disabled selected>Select an option</option>
                                                        {% for city in location.city_list %}
                                                        <option data-name="{{city.city_name}}"
                                                                data-id="{{city.city_id}}">
                                                            {{city.city_name}}
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                                    <input type="hidden" id="selectorId2" name="city_id">
                                                    <div id="error-message2"
                                                         style="color: #dc3545; font-size: 14px; margin-top: 5px"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Select Printing Vendor <span
                                                        style="font-weight: bold; color: red;">*</span></label>
                                                <div class="col-sm-9">
                                                    <select class="form-control selectpicker" data-live-search="true"
                                                            id="selector3" required>
                                                        <option value="" disabled selected>Select an option</option>
                                                        {% for printers in printers.printer_data %}
                                                        <option data-name="{{printers.store_name}}"
                                                                data-id="{{printers.id}}">
                                                            {{printers.store_name}}
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                                    <input type="hidden" id="selectorId3" name="printer_id">
                                                    <div id="error-message3"
                                                         style="color: #dc3545; font-size: 14px; margin-top: 5px"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Event Date And Time <span
                                                        style="font-weight: bold; color: red;">*</span></label>
                                                <div class="col-sm-9">
                                                    <input required type="datetime-local" id="event_date"
                                                           name="event_date" class="form-control"
                                                           onkeydown="return false"
                                                           placeholder="Select a date and time">
                                                    <div class="invalid-feedback">Event Date is mandatory & Please choose a future date.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Address Line1 <span
                                                        style="font-weight: bold; color: red;">*</span></label>
                                                <div class="col-sm-9">
                                                    <input required type="text" class="form-control"
                                                           pattern="[^ ].*" maxlength="256"
                                                           title="This field can't be Empty"
                                                           name="address_line1"/>
                                                    <div class="invalid-feedback">Address Line is mandatory</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Address Line2 <span
                                                        style="font-weight: bold; color: red;">*</span></label>
                                                <div class="col-sm-9">
                                                    <input required type="text" class="form-control"
                                                           pattern="[^ ].*" maxlength="256"
                                                           title="This field can't be Empty"
                                                           name="address_line2"/>
                                                    <div class="invalid-feedback">Address Line2 is mandatory</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-sm-12">
                                            <input type="text" id="searchInput" style="width: 50%;"
                                                   placeholder="Search for a location" class="form-control">
                                        </div>

                                        <div id="map"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Event Lat Lng <span
                                                        style="font-weight: bold; color: red;">*</span></label>
                                                <div class="col-sm-9">
                                                    <input required type="text" id="event_lat_lng"
                                                           name="event_lat_lng" class="form-control" readonly>
                                                    <div id="error-message5" style="color: #dc3545; font-size: 14px;
                                                    margin-top:5px"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Delivery Fee <span
                                                        style="font-weight: bold; color: red;">*</span></label>
                                                <div class="col-sm-9">
                                                    <input required type="text" class="form-control" name="delivery_fee"
                                                           placeholder="₹" pattern="[1-9][0-9]{0,3}"
                                                           title="Please add the amount only"/>
                                                    <div class="invalid-feedback">Delivery Fee is mandatory</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Created By </label>
                                                <div class="col-sm-9">
                                                    <input disabled readonly class="form-control"
                                                           value="{{ request.session.name }}">
                                                    <input required type="hidden" id="created_by_uid"
                                                           name="created_by_uid"
                                                           value="{{ request.session.uid }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-form-label">Delivery Address <span
                                                style="font-weight: bold; color: red;">*</span></label>
                                        <textarea required class="form-control" id="delivery_address" rows="4"
                                                  maxlength="255"
                                                  name="delivery_address"></textarea>
                                        <div class="invalid-feedback">Delivery Address is mandatory</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-form-label">Event Note <span
                                                style="font-weight: bold; color: red;">*</span></label>
                                        <textarea required class="form-control" id="event_note" rows="4"
                                                  maxlength="255"
                                                  name="event_note"></textarea>
                                        <div class="invalid-feedback">Event Note is mandatory</div>
                                    </div>


                                    <div id="sub-events-container">
                                        <label class="col-sm-3 col-form-label">Sub Events</label>
                                        <div class="event-row mb-3">
                                            <div class="col-md-4">
                                                <input class="form-control" type="text"
                                                       name="sub_events[0][sub_event_name]"
                                                       pattern="[^ ].*" maxlength="256"
                                                       title="This field can't be Empty"
                                                       placeholder="Sub Event Name" required>
                                                <div class="invalid-feedback">Sub Event name is mandatory</div>
                                            </div>
                                            <div class="col-md-4">
                                                <input class="form-control" type="datetime-local"
                                                       name="sub_events[0][start]" placeholder="Start Time"
                                                       id="sub_event_start_date" onkeydown="return false" required>
                                                <div class="invalid-feedback">Sub Event start time is mandatory & Please choose a future date.</div>
                                            </div>
                                            <div class="col-md-4">
                                                <input class="form-control" type="datetime-local"
                                                       name="sub_events[0][end]" onkeydown="return false"
                                                       placeholder="End Time" id="sub_event_end_date" required>
                                                <div class="invalid-feedback">Sub Event End time is mandatory & Please choose a future date.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" id="addSubEventButton">Add Sub Event</button>
                                    <button type="button" id="removeEventButton" style="display: none; margin-top:5px;">
                                        Remove Sub
                                        Event
                                    </button>

                                    <div id="event-admin-container">
                                        <label class="col-sm-3 col-form-label">Event Admins</label>
                                        <div class="event-row mb-3">
                                            <div class="col-md-6 mb-3">
                                                <input required type="text" id="name" name="event_admin[0][name]" readonly
                                                       onclick="toggleDropdown('myDropdown4')"
                                                       placeholder="Search" class="form-control">

                                                <div id="myDropdown4" class="dropdown-content">
                                                    <input type="text" placeholder="Search" id="myInput4"
                                                           onkeyup="filterFunction('myDropdown4')" class="form-control">
                                                    {% for users in users.user_data %}
                                                    <a onclick="setValue('{{users.name}}', '{{users.uid}}', 'name', 'uid')">{{users.name}}
                                                        {{users.phone}}</a>
                                                    {% endfor %}
                                                </div>
                                                <div id="error-message4"
                                                         style="color: #dc3545; font-size: 14px; margin-top: 5px"></div>
                                            </div>
                                            <div class="col-md-6">
                                                <input required class="form-control" type="text" maxlength="256"
                                                       pattern="[^ ].*"
                                                       title="This field can't be Empty"
                                                       name="event_admin[0][role]" placeholder="Bride, Groom etc ">
                                                <div class="invalid-feedback">Admin role is mandatory</div>
                                            </div>

                                            <input type="hidden" id="uid" name="event_admin[0][uid]">
                                        </div>
                                    </div>
                                    <button type="button" id="addEventAdminButton">Add Event Admin</button>
                                    <button type="button" id="removeEventAdminButton" style="display: none;">Remove
                                        Event Admin
                                    </button>

                                    <div class="center-button">
                                        <input type="submit" value="Submit" class="btn btn-primary mr-2">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            {% include 'footer.html' %}
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

<!-- my_template.html -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        for (var i = 1; i <= 4; i++) {
            (function(index) {
                var selectId = document.getElementById("selector" + index);
                var inputId = document.getElementById("selectorId" + index);
                var errorMessage = document.getElementById("error-message" + index);

                selectId.addEventListener("change", function () {
                    errorMessage.style.display = "none";
                    var selectedOption = selectId.options[selectId.selectedIndex];
                    var value = selectedOption.getAttribute("data-id");

                    if (value) {
                        inputId.value = value;
                    }
                });
            })(i);
        }
    });










</script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const addSubEventButton = document.getElementById('addSubEventButton');
        const removeEventButton = document.getElementById('removeEventButton');
        const addEventAdminButton = document.getElementById('addEventAdminButton');
        const removeEventAdminButton = document.getElementById('removeEventAdminButton');
        const subEventsContainer = document.getElementById('sub-events-container');
        const eventAdminContainer = document.getElementById('event-admin-container');
        let subEventIndex = 1;
        let eventAdminIndex = 1;

        function updateButtonVisibility() {
            if (subEventIndex > 1) {
                addSubEventButton.style.display = 'block';
                removeEventButton.style.display = 'block';
            } else {
                addSubEventButton.style.display = 'block';
                removeEventButton.style.display = 'none';
            }

            if (eventAdminIndex === 2) {
                addEventAdminButton.style.display = 'none';
                removeEventAdminButton.style.display = 'block';
            } else {
                addEventAdminButton.style.display = 'block';
                removeEventAdminButton.style.display = 'none';
            }
        }

        function addSubEvent() {
            const subEventRow = document.createElement('div');
            subEventRow.classList.add('event-row');
            subEventRow.innerHTML = `
                <div class="col-md-4 mb-3"><input class="form-control" type="text" name="sub_events[${subEventIndex}][sub_event_name]" placeholder="Sub Event Name" required>
                <div class="invalid-feedback">Sub Event name is mandatory</div></div>
                <div class="col-md-4 mb-3"><input class="form-control sub-event-start" type="datetime-local" name="sub_events[${subEventIndex}][start]" placeholder="Start Time" id="sub_event_start_date" onkeydown="return false" required>
                <div class="invalid-feedback">Sub Event start time is mandatory</div></div>
                <div class="col-md-4 mb-3"><input class="form-control sub-event-end" type="datetime-local" name="sub_events[${subEventIndex}][end]" placeholder="End Time" id="sub_event_end_date" onkeydown="return false" required>
                <div class="invalid-feedback">Sub Event end time is mandatory</div></div>
            `;
            subEventsContainer.appendChild(subEventRow);
            const currentDate = new Date().toISOString().slice(0, 16);
            const startInput = subEventRow.querySelector(".sub-event-start");
            const endInput = subEventRow.querySelector(".sub-event-end");
            startInput.min = currentDate;
            endInput.min = currentDate;
            subEventIndex++;
            updateButtonVisibility();
        }

        function removeSubEvent() {
            if (subEventIndex > 1) {
                subEventIndex--;
                const subEventRows = subEventsContainer.getElementsByClassName('event-row');
                subEventsContainer.removeChild(subEventRows[subEventIndex]);
                updateButtonVisibility();
            }
        }

        function addEventAdmin() {
            const eventAdminRow = document.createElement('div');
            eventAdminRow.classList.add('event-row');
            eventAdminRow.innerHTML = `
            <div class="col-md-6 mb-3">
            <input type="text" id="name1" name = "event_admin[${eventAdminIndex}][name]" readonly onclick="toggleDropdown('myDropdown5')" placeholder="Search" class="form-control">
            <div id="myDropdown5" class="dropdown-content">
                <input type="text" placeholder="Search" id="myInput5" onkeyup="filterFunction('myDropdown5')" class="form-control">
                {% for users in users.user_data %}
                <a onclick="setValue('{{users.name}}', '{{users.uid}}', 'name${eventAdminIndex}', 'uid${eventAdminIndex}')">{{users.name}} {{users.phone}}</a>
                {% endfor %}
            </div>
            <div id="error-message6" style="color: #dc3545; font-size: 14px; margin-top: 5px"></div>
            </div>
            <div class="col-md-6 mb-3">
            <input class="form-control" type="text" name="event_admin[${eventAdminIndex}][role]" placeholder="Bride, Groom etc ...." required>
            <div class="invalid-feedback">Admin role is mandatory</div>
            <input type="hidden" id="uid1" name="event_admin[${eventAdminIndex}][uid]"></div>
        `;
            eventAdminContainer.appendChild(eventAdminRow);
            eventAdminIndex++;
            updateButtonVisibility();

                var secondAdminSelect = eventAdminRow.querySelector("#name1");
                var errorMessage6 = eventAdminRow.querySelector("#error-message6");

                secondAdminSelect.addEventListener("click", function () {
                if (secondAdminSelect.value === "") {
                    console.log('second event liistner'+secondAdminSelect.value)
                    errorMessage6.textContent = "Please select an event Admin";
                    errorMessage6.style.display = "block";
                } else {
                console.log('second else event listner'+secondAdminSelect.value)
                    errorMessage6.style.display = "none";
                }
            });

        }

        function removeEventAdmin() {
            if (eventAdminIndex > 1) {
                eventAdminIndex--;
                const eventAdminRows = eventAdminContainer.getElementsByClassName('event-row');
                eventAdminContainer.removeChild(eventAdminRows[eventAdminIndex]);
                updateButtonVisibility();
            }
        }

        addSubEventButton.addEventListener('click', addSubEvent);
        removeEventButton.addEventListener('click', removeSubEvent);
        addEventAdminButton.addEventListener('click', addEventAdmin);
        removeEventAdminButton.addEventListener('click', removeEventAdmin);
    });









</script>


<script>
function toggleDropdown(dropdownId) {
  var dropdown = document.getElementById(dropdownId);
  dropdown.classList.toggle("show");
}

function filterFunction(dropdownId) {
  console.log(dropdownId)
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput" + dropdownId.slice(-1));
  filter = input.value.toUpperCase();
  div = document.getElementById(dropdownId);
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}

function setValue(value1, value2, inputField1Id, inputField2Id) {
  if (value1 && value2) {
    document.getElementById(inputField1Id).value = value1;
    document.getElementById(inputField2Id).value = value2;
    if (inputField1Id === "name") {
      var errorMessage4 = document.getElementById("error-message4");
      errorMessage4.style.display = "none";
    } else if (inputField1Id === "name1") {
      var errorMessage6 = document.getElementById("error-message6");
      errorMessage6.style.display = "none";
    }
    // Optionally, you can hide the dropdown after selecting a value
    var dropdowns = document.getElementsByClassName("dropdown-content");
    for (var i = 0; i < dropdowns.length; i++) {
      dropdowns[i].classList.remove("show");
    }
  }
}

  document.addEventListener("click", function (event) {
    const dropdowns = document.getElementsByClassName("dropdown-content");
    for (var i = 0; i < dropdowns.length; i++) {
      const dropdown = dropdowns[i];
      if (event.target !== dropdown.previousElementSibling && !dropdown.contains(event.target)) {
        dropdown.classList.remove("show");
      }
    }
  });








</script>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{% static 'vendors/typeahead.js/typeahead.bundle.min.js' %}"></script>
<script src="{% static 'vendors/select2/select2.min.js' %}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->

<script src="{% static 'js/off-canvas.js' %}"></script>
<script src="{% static 'js/hoverable-collapse.js' %}"></script>
<script src="{% static 'js/template.js' %}"></script>
<script src="{% static 'js/settings.js' %}"></script>
<script src="{% static 'js/todolist.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="{% static 'js/file-upload.js' %}"></script>
<script src="{% static 'js/typeahead.js' %}"></script>
<script src="{% static 'js/select2.js' %}"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6O2CG9zBAksJH4SCgCZlbx3XRWVwzY1E&libraries=places&callback=initMap"
        async defer></script>
<script>
        var map, marker, event_lat_lng, searchInput;
        var errorMessage5 = document.getElementById('error-message5');
        errorMessage5.style.display = "none";

        function initMap() {
            var mapOptions = {
                center: { lat: 12.9716, lng: 77.5946 },
                zoom: 8,
            };

            var mapDiv = document.getElementById('map');
            map = new google.maps.Map(mapDiv, mapOptions);

            event_lat_lng = document.getElementById('event_lat_lng');
            searchInput = document.getElementById('searchInput');

            // Initialize Google Places Autocomplete for search
            var autocomplete = new google.maps.places.Autocomplete(searchInput);
            autocomplete.bindTo('bounds', map);

            // Set listener to update map and marker on autocomplete selection
            autocomplete.addListener('place_changed', function() {
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                    errorMessage5.style.display = "block";
                    return;
                }
                else {
                        errorMessage5.style.display = "none"; // Hide the error message
                    }

                // Set the map's center and zoom level to the selected location
                map.setCenter(place.geometry.location);
                map.setZoom(15); // You can adjust the zoom level as needed

                if (!marker) {
                    marker = new google.maps.Marker({
                        position: place.geometry.location,
                        map: map,
                        draggable: true,
                        title: 'Drag me to set the location',
                    });
                    google.maps.event.addListener(marker, 'dragend', function(event) {
                        var lat = event.latLng.lat();
                        var lng = event.latLng.lng();
                        event_lat_lng.value = 'Latitude: ' + lat + ', Longitude: ' + lng;

                    });
                } else {
                    marker.setPosition(place.geometry.location);
                }

                var lat = marker.getPosition().lat();
                var lng = marker.getPosition().lng();
                event_lat_lng.value = 'Latitude: ' + lat + ', Longitude: ' + lng;
            });
        }











</script>

<script>
        // Get the current date and time in ISO format
        const currentDate = new Date().toISOString().slice(0, 16);

        // Set the min attribute of the input field to the current date and time
        document.getElementById("event_date").min = currentDate;
        document.getElementById("sub_event_start_date").min = currentDate;
        document.getElementById("sub_event_end_date").min = currentDate;

</script>


<script>
        document.getElementById("myForm").addEventListener("submit", function (e) {
            var eventTypeSelect = document.getElementById("selectorId1").value;
            var citySelect = document.getElementById("selectorId2").value;
            var printingVendorSelect = document.getElementById("selectorId3").value;
            var eventAdminSelect = document.getElementById("name").value;
            var latLngSelect = document.getElementById("event_lat_lng").value;
            var errorMessage1 = document.getElementById('error-message1');
            var errorMessage2 = document.getElementById('error-message2');
            var errorMessage3 = document.getElementById('error-message3');
            var errorMessage4 = document.getElementById('error-message4');
            var errorMessage5 = document.getElementById('error-message5');
            var errorMessage6 = document.getElementById('error-message6');


            if (eventTypeSelect === "") {
                errorMessage1.textContent = "Please select event type";
                errorMessage1.style.display = "block";
                e.preventDefault();
            } else {
                errorMessage1.style.display = "none";
            }
            if (citySelect === "") {
                errorMessage2.textContent = "Please select event city";
                errorMessage2.style.display = "block";
                e.preventDefault();
            } else {
                errorMessage2.style.display = "none";
            }
            if (printingVendorSelect === "") {
                errorMessage3.textContent = "Please select printing vendor";
                errorMessage3.style.display = "block";
                e.preventDefault();
            } else {
                errorMessage3.style.display = "none";
            }
            if (eventAdminSelect === "") {
                errorMessage4.textContent = "Please select event Admin";
                errorMessage4.style.display = "block";
                e.preventDefault();
            } else {
                errorMessage4.style.display = "none";
            }
            if (latLngSelect === "") {
                errorMessage5.textContent = "Please select latitude longitude";
                errorMessage5.style.display = "block";
                e.preventDefault();
            } else {
                errorMessage5.style.display = "none";
            }

            var secondAdminSelect = document.getElementById("name1").value;
            if ( secondAdminSelect === "") {
                errorMessage6.textContent = "Please select event Admin";
                errorMessage6.style.display = "block";
                e.preventDefault();
            } else {
                errorMessage6.style.display = "none";
            }

        });

</script>



<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/tempusdominus-bootstrap-4@5.1.2/build/css/tempusdominus-bootstrap-4.min.css"
      rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tempusdominus-bootstrap-4@5.1.2/build/js/tempusdominus-bootstrap-4.min.js"></script>

</body>

</html>
