<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shagun Admin</title>
    <!-- plugins:css -->
    {% load static%}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'vendors/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/select2-bootstrap-theme/select2-bootstrap.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">

    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

    <style>
        .center-button {
          display: flex;
          justify-content: center;
        }
        .dropbtn {
          background-color: #04AA6D;
          color: white;
          padding: 16px;
          font-size: 16px;
          border: none;
          cursor: pointer;
        }

        .dropbtn:hover, .dropbtn:focus {
          background-color: #3e8e41;
        }

        #myInput {
          box-sizing: border-box;
          background-image: url('searchicon.png');
          background-position: 14px 12px;
          background-repeat: no-repeat;
          font-size: 16px;
          padding: 14px 20px 12px 45px;
          border: none;
          border-bottom: 1px solid #ddd;
        }

        #myInput:focus {outline: 3px solid #ddd;}

        .dropdown {
          position: relative;
          display: inline-block;
        }

        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f6f6f6;
          min-width: 230px;
          overflow: auto;
          border: 1px solid #ddd;
          z-index: 1;
          height:400px;
        }

        .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }

        .dropdown a:hover {background-color: #ddd;}

        .show {display: block;}





    .event-row {
        display: flex;
        flex-wrap: wrap;
    }

    .event-input {
        width: 30%;
        padding: 8px;
        margin: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .event-input:focus {
        border-color: #007bff;
    }

    #addSubEventButton,
    #removeEventButton,
    #addEventAdminButton,
    #removeEventAdminButton {
        padding: 8px 15px;
        border: none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
    }

    #addSubEventButton {
        background-color: #2196F3;
    }

    #removeEventButton {
        background-color: #f44336;
    }

        #addEventAdminButton {
            background-color: #2196F3;
        }

        #removeEventAdminButton {
            background-color: #f44336;
        }

        #map {
            height: 300px;
            margin: 20px;
        }
        .messages-container {
      background-color: #ffe6e6; /* Light pink background color */
      padding: 10px;
      border-radius: 5px;
      margin-top: 20px;
      display: none;
    }

    /* Style the error messages */
    .messages {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .messages li {
      color: #b30000; /* Dark red text color for error messages */
      background-color: #ffd9d9; /* Light red background color for error messages */
      border: 1px solid #ff8080; /* Dark red border for error messages */
      padding: 10px;
      border-radius: 3px;
      margin-bottom: 5px;
    }


    </style>

</head>

<body>
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    {% include 'app_bar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_settings-panel.html -->

        <!-- partial -->
        <!-- partial:../../partials/_sidebar.html -->
        {% include 'nav_bar.html' %}
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <button onclick="window.location.href='{% url 'manage_event' %}'" class="btn btn-outline-info">
                                        <i class="fas fa-arrow-left" style="margin-right:5px;"></i> Go Back
                                    </button>
                                    <label class="ml-2 custom-label"> Edit Event </label>
                                </div>
                                <form class="form-sample needs-validation" action="{% url 'edit_event' event.event_data.id %}"
                                      method="post"
                                      enctype="multipart/form-data" novalidate>
                                    {% csrf_token %}
                                    <p class="card-description">
                                        Event info
                                    </p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Select Event Type <span
                                                        style="font-weight: bold; color: red;">*</span></label>
                                                <div class="col-sm-9">
                                                    <select class="form-control selectpicker" data-live-search="true"
                                                            id="selector1" required>
                                                        <option value="{{event.event_data.event_type_name}}" selected>{{event.event_data.event_type_name}}</option>
                                                        {% for events_type in event_types.event_type_list %}
                                                        <option data-name="{{events_type.event_type_name}}"
                                                                data-id="{{events_type.id}}">
                                                            {{events_type.event_type_name}}
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                                    <input type="hidden" id="selectorId1" name="event_type_id" value="{{event.event_data.event_type_id}}">
                                                    <div id="error-message1"
                                                         style="color: #dc3545; font-size: 14px; margin-top: 5px"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Select City <span
                                                        style="font-weight: bold; color: red;">*</span></label>
                                                <div class="col-sm-9">
                                                    <select class="form-control selectpicker" data-live-search="true"
                                                            id="selector2" >
                                                        <option value="{{event.event_data.city_name}}" selected>{{event.event_data.city_name}}</option>
                                                        {% for city in location.city_list %}
                                                        <option data-name="{{city.city_name}}"
                                                                data-id="{{city.city_id}}">
                                                            {{city.city_name}}
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                                    <input type="hidden" id="selectorId2" name="city_id"
                                                           value="{{event.event_data.city_id}}">
                                                    <div id="error-message2"
                                                         style="color: #dc3545; font-size: 14px; margin-top: 5px"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Select Printing Vendor <span
                                                        style="font-weight: bold; color: red;">*</span></label>
                                                <div class="col-sm-9">
                                                    <select class="form-control selectpicker" data-live-search="true"
                                                            id="selector3" required>
                                                        <option value="{{event.event_data.store_name}}" selected>{{event.event_data.store_name}}</option>
                                                        {% for printers in printers.printer_data %}
                                                        <option data-name="{{printers.store_name}}"
                                                                data-id="{{printers.id}}">
                                                            {{printers.store_name}}
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                                    <input type="hidden" id="selectorId3" name="printer_id"
                                                           value="{{event.event_data.printer_id}}">
                                                    <div id="error-message3"
                                                         style="color: #dc3545; font-size: 14px; margin-top: 5px"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Event Date & Time <span
                                                        style="font-weight: bold; color: red;">*</span></label>
                                                <div class="col-sm-9">
                                                    <input required type="datetime-local" id="event_date"
                                                           name="event_date"
                                                           class="form-control"
                                                           value="{{event.event_data.event_date}}">
                                                    <div class="invalid-feedback">Event date & Time is mandatory</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Address Line1 <span
                                                        style="font-weight: bold; color: red;">*</span></label>
                                                <div class="col-sm-9">
                                                    <input required type="text" class="form-control"
                                                           name="address_line1"
                                                           pattern="[^ ].*"
                                                           title="This field can't be Empty"
                                                           value="{{event.event_data.address_line1}}"/>
                                                    <div class="invalid-feedback">Address line is mandatory</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Address Line2 <span
                                                        style="font-weight: bold; color: red;">*</span></label>
                                                <div class="col-sm-9">
                                                    <input required type="text" class="form-control"
                                                           name="address_line2"
                                                           pattern="[^ ].*"
                                                           title="This field can't be Empty"
                                                           value="{{event.event_data.address_line2}}"/>
                                                    <div class="invalid-feedback">Address line is mandatory</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-sm-12">
                                            <input type="text" id="searchInput" style="width: 50%;"
                                                   placeholder="Search for a location" class="form-control">
                                        </div>
                                        <div id="map"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Event Lat Lng <span
                                                        style="font-weight: bold; color: red;"></span></label>
                                                <div class="col-sm-9">
                                                    <input required type="text" id="event_lat_lng"
                                                           value="{{event.event_data.event_lat_lng}}"
                                                           class="form-control" name="event_lat_lng"
                                                           class="form-control" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Delivery Fee <span
                                                        style="font-weight: bold; color: red;">*</span></label>
                                                <div class="col-sm-9">
                                                    <input required type="text" class="form-control" name="delivery_fee"
                                                           pattern="[1-9][0-9]{0,4}"
                                                            title="Please add the amount only"
                                                           value="{{event.event_data.delivery_fee}}"/>
                                                    <div class="invalid-feedback">Delivery Fee is mandatory</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Created By</label>
                                                <div class="col-sm-9">
                                                    <input disabled readonly class="form-control" value="{{event.event_data.created_by_uid}}">
                                                    <input type="hidden" id="created_by_uid" name="created_by_uid"
                                                           value={{event.event_data.created_by_uid}}>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Updated By </label>
                                                <div class="col-sm-9">
                                                    <input disabled readonly class="form-control"
                                                           value="{{ event.event_data.updator }} ">
                                                    <input type="hidden" id="updated_by"
                                                           name="updated_by"
                                                           value="{{ request.session.uid }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-form-label">Delivery Address <span
                                                        style="font-weight: bold; color: red;">*</span></label>
                                        <textarea required class="form-control" id="delivery_address" rows="4"
                                                  maxlength="255"
                                                  name="delivery_address">{{event.event_data.delivery_address}}</textarea>
                                        <div class="invalid-feedback">Delivery Address  is mandatory</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-form-label">Event Note <span
                                                        style="font-weight: bold; color: red;">*</span></label>
                                        <textarea required class="form-control" id="event_note" rows="4"
                                                  name="event_note">{{event.event_data.event_note}}</textarea>
                                        <div class="invalid-feedback">Event Note is mandatory</div>
                                    </div>

                                    <div id="sub-events-container">
                                        <label class="col-sm-3 col-form-label">Sub Events</label>
                                        {% for sub_event in event.event_data.sub_events %}
                                        <div class="event-row mb-3">
                                            <div class="col-md-4">
                                                <input class="form-control" type="text"
                                                       name="sub_events[{{ forloop.counter0 }}][sub_event_name]"
                                                       pattern="[^ ].*" maxlength="256" value="{{sub_event.sub_event_name}}"
                                                       title="This field can't be Empty"
                                                       placeholder="Sub Event Name" required>
                                                <div class="invalid-feedback">Sub Event name is mandatory</div>
                                            </div>
                                            <div class="col-md-4">
                                                <input class="form-control" type="datetime-local"
                                                       name="sub_events[{{ forloop.counter0 }}][start]" placeholder="Start Time"
                                                       id="sub_event_start_date" onkeydown="return false"
                                                       value="{{sub_event.start_time}}" required>
                                                <div class="invalid-feedback">Sub Event start time is mandatory</div>
                                            </div>
                                            <div class="col-md-4">
                                                <input class="form-control" type="datetime-local"
                                                       name="sub_events[{{ forloop.counter0 }}][end]" onkeydown="return false"
                                                       placeholder="End Time" id="sub_event_end_date"
                                                       value="{{sub_event.end_time}}" required>
                                                <div class="invalid-feedback">Sub Event End time is mandatory</div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <input type="hidden" id="maxSubEventIndex"
                                               value="{{ event.event_data.sub_events|length }}">
                                    </div>

                                    <button type="button" id="addSubEventButton">Add Sub Event</button>
                                    <button type="button" id="removeEventButton"
                                            style="display: none; margin-top: 5px;">Remove Sub
                                        Event
                                    </button>
                                    <div id="event-admin-container">
                                        <label class="col-sm-3 col-form-label">Event Admins <span
                                                        style="font-weight: bold; color: red;">*</span></label>
                                        {% for admin in event.event_data.event_admin %}
                                        <div class="event-row">
                                            <input readonly type="text" id="name"
                                                   onclick="toggleDropdown('myDropdown4')"
                                                   value="{{admin.name}}" class="event-input">
                                            <input readonly class="event-input" type="text"
                                                   value="{{admin.role}}">
                                            <input type="hidden" id="uid" value="{{admin.uid}}">
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="messages-container">
                                        <ul class="messages">
                                            <li>
                                                <div id="error-message"> Please select user
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="center-button">
                                        <input type="submit" value="Update" class="btn btn-primary mr-2">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            {% include 'footer.html' %}
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

<!-- my_template.html -->

<script>
    document.addEventListener("DOMContentLoaded", function () {
        for (var i = 1; i <= 4; i++) {
            (function(index) {
                var selectId = document.getElementById("selector" + index);
                var inputId = document.getElementById("selectorId" + index);
                var errorMessage = document.getElementById("error-message" + index);

                selectId.addEventListener("change", function () {
                    errorMessage.style.display = "none";
                    var selectedOption = selectId.options[selectId.selectedIndex];
                    var value = selectedOption.getAttribute("data-id");

                    if (value) {
                        inputId.value = value;
                    }
                });
            })(i);
        }
    });


</script>
<script>
// Function to toggle a specific dropdown based on its ID
function toggleDropdown(dropdownId) {
  var dropdown = document.getElementById(dropdownId);
  dropdown.classList.toggle("show");
}

// Function to filter the dropdown content based on the input value
function filterFunction(dropdownId) {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput" + dropdownId.slice(-1));
  filter = input.value.toUpperCase();
  div = document.getElementById(dropdownId);
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}

function setValue(value1, value2, inputField1Id, inputField2Id) {
  if (value1 && value2) {
    document.getElementById(inputField1Id).value = value1;
    console.log(inputField1Id)
    console.log(inputField2Id)
    console.log(value1)
    console.log(value2)
    document.getElementById(inputField2Id).value = value2;
    var dropdowns = document.getElementsByClassName("dropdown-content");
    for (var i = 0; i < dropdowns.length; i++) {
      dropdowns[i].classList.remove("show");
    }
  }
}

  document.addEventListener("click", function(event) {
        const dropdown = document.getElementById("dropdownId");
        const nameInput = document.getElementById("name");
        if (event.target !== dropdown && event.target !== nameInput && !dropdown.contains(event.target)) {
            dropdown.classList.remove("show");
        }
    });




</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const addSubEventButton = document.getElementById('addSubEventButton');
        const removeEventButton = document.getElementById('removeEventButton');
        const addEventAdminButton = document.getElementById('addEventAdminButton');
        const removeEventAdminButton = document.getElementById('removeEventAdminButton');
        const subEventsContainer = document.getElementById('sub-events-container');
        const eventAdminContainer = document.getElementById('event-admin-container');
        const maxSubEventIndex = parseInt(document.getElementById('maxSubEventIndex').value);
        let subEventIndex = maxSubEventIndex;

        function updateButtonVisibility() {
            if (subEventIndex > 1) {
                addSubEventButton.style.display = 'block';
                removeEventButton.style.display = 'block';
            } else {
                addSubEventButton.style.display = 'block';
                removeEventButton.style.display = 'none';
            }

            if (eventAdminIndex === 2) {
                addEventAdminButton.style.display = 'none';
                removeEventAdminButton.style.display = 'block';
            } else {
                addEventAdminButton.style.display = 'block';
                removeEventAdminButton.style.display = 'none';
            }
        }

        function addSubEvent() {
            const subEventRow = document.createElement('div');
            subEventRow.classList.add('event-row');
            subEventRow.innerHTML = `
                <div class="col-md-4 mb-3"><input class="form-control" type="text" name="sub_events[${subEventIndex}][sub_event_name]" placeholder="Sub Event Name" required>
                <div class="invalid-feedback">Sub Event name is mandatory</div></div>
                <div class="col-md-4 mb-3"><input class="form-control sub-event-start" type="datetime-local" name="sub_events[${subEventIndex}][start]" placeholder="Start Time" id="sub_event_start_date" onkeydown="return false" required>
                <div class="invalid-feedback">Sub Event start time is mandatory</div></div>
                <div class="col-md-4 mb-3"><input class="form-control sub-event-end" type="datetime-local" name="sub_events[${subEventIndex}][end]" placeholder="End Time" id="sub_event_end_date" onkeydown="return false" required>
                <div class="invalid-feedback">Sub Event end time is mandatory</div></div>
            `;
            subEventsContainer.appendChild(subEventRow);
            const currentDate = new Date().toISOString().slice(0, 16);
            const startInput = subEventRow.querySelector(".sub-event-start");
            const endInput = subEventRow.querySelector(".sub-event-end");
            startInput.min = currentDate;
            endInput.min = currentDate;
            subEventIndex++;
            updateButtonVisibility();
        }

        function removeSubEvent() {
            if (subEventIndex > 1) {
                subEventIndex--;
                const subEventRows = subEventsContainer.getElementsByClassName('event-row');
                subEventsContainer.removeChild(subEventRows[subEventIndex]);
                updateButtonVisibility();
            }
        }


        addSubEventButton.addEventListener('click', addSubEvent);
        removeEventButton.addEventListener('click', removeSubEvent);
    });


</script>

<!-- container-scroller -->
<!-- plugins:js -->
<script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{% static 'vendors/typeahead.js/typeahead.bundle.min.js' %}"></script>
<script src="{% static 'vendors/select2/select2.min.js' %}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->

<script src="{% static 'js/off-canvas.js' %}"></script>
<script src="{% static 'js/hoverable-collapse.js' %}"></script>
<script src="{% static 'js/template.js' %}"></script>
<script src="{% static 'js/settings.js' %}"></script>
<script src="{% static 'js/todolist.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="{% static 'js/file-upload.js' %}"></script>
<script src="{% static 'js/typeahead.js' %}"></script>
<script src="{% static 'js/select2.js' %}"></script>

<!-- End custom js for this page-->
<script src="{{map_api_key}}"
        async defer></script>
<script>
        var map, marker, event_lat_lng, searchInput;

        function initMap() {
            var mapOptions = {
                zoom: 8,
            };

            var mapDiv = document.getElementById('map');
            map = new google.maps.Map(mapDiv, mapOptions);

            event_lat_lng = document.getElementById('event_lat_lng');

            var eventData = event_lat_lng.value.split(/: |, /); // Split the value into an array

            var initialLatLng = {
                lat: parseFloat(eventData[1]),
                lng: parseFloat(eventData[3])
            };

            map.setCenter(initialLatLng);

            marker = new google.maps.Marker({
                position: initialLatLng,
                map: map,
                draggable: true,
                title: 'Drag me to set the location',
            });

            google.maps.event.addListener(marker, 'dragend', function(event) {
                var lat = event.latLng.lat();
                var lng = event.latLng.lng();
                event_lat_lng.value = 'Latitude: ' + lat + ', Longitude: ' + lng;
            });

            event_lat_lng.value = 'Latitude: ' + initialLatLng.lat + ', Longitude: ' + initialLatLng.lng;
            searchInput = document.getElementById('searchInput');

            // Initialize Google Places Autocomplete for search
            var autocomplete = new google.maps.places.Autocomplete(searchInput);
            autocomplete.bindTo('bounds', map);

            // Set listener to update map and marker on autocomplete selection
            autocomplete.addListener('place_changed', function() {
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                    return;
                }

                map.setCenter(place.geometry.location);
                map.setZoom(15);

                if (!marker) {
                    marker = new google.maps.Marker({
                        position: place.geometry.location,
                        map: map,
                        draggable: true,
                        title: 'Drag me to set the location',
                    });
                    google.maps.event.addListener(marker, 'dragend', function(event) {
                        var lat = event.latLng.lat();
                        var lng = event.latLng.lng();
                        event_lat_lng.value = 'Latitude: ' + lat + ', Longitude: ' + lng;
                    });
                } else {
                    marker.setPosition(place.geometry.location);
                }

                var lat = marker.getPosition().lat();
                var lng = marker.getPosition().lng();
                event_lat_lng.value = 'Latitude: ' + lat + ', Longitude: ' + lng;
            });
        }



</script>

<script>
        document.getElementById("myForm").addEventListener("submit", function (e) {
            var event_type_name = document.getElementById("event_type_name").value;
            var city_name = document.getElementById("city_name").value;
            var printer_name = document.getElementById("printer_name").value;
            var event_lat_lng = document.getElementById("event_lat_lng").value;
            var name = document.getElementById("name").value;
            var errorContainer = document.querySelector('.messages-container');
            var errorMessage = document.getElementById('error-message');

            if (!event_type_name) {
                errorMessage.textContent = "Please select the type of event";
                errorContainer.style.display = "block";
                e.preventDefault();
            }
            else if (!city_name) {
                errorMessage.textContent = "Please select the city for event";
                errorContainer.style.display = "block";
                e.preventDefault();
            }
            else if (!printer_name) {
                errorMessage.textContent = "Please select the printing vendor for event";
                errorContainer.style.display = "block";
                e.preventDefault();
            }
            else if (!event_lat_lng) {
                errorMessage.textContent = "Please select the event location on map";
                errorContainer.style.display = "block";
                e.preventDefault();
            }
            else if (!name) {
                errorMessage.textContent = "Please select the admin for the event";
                errorContainer.style.display = "block";
                e.preventDefault();
            }


        });

</script>
<script>
        // Get the current date and time in ISO format
        const currentDate = new Date().toISOString().slice(0, 16);

        // Set the min attribute of the input field to the current date and time
        document.getElementById("event_date").min = currentDate;
        document.getElementById("sub_event_start_date").min = currentDate;
        document.getElementById("sub_event_end_date").min = currentDate;

</script>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/tempusdominus-bootstrap-4@5.1.2/build/css/tempusdominus-bootstrap-4.min.css"
      rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tempusdominus-bootstrap-4@5.1.2/build/js/tempusdominus-bootstrap-4.min.js"></script>

</body>

</html>