<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shagun Admin</title>
    <!-- plugins:css -->
    {% load static%}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/select.dataTables.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <!--    &lt;!&ndash; Required meta tags &ndash;&gt;-->
    <!--    <meta charset="utf-8">-->
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <!--    <title>Shagun Admin</title>-->
    <!--    &lt;!&ndash; plugins:css &ndash;&gt;-->
    <!--    {% load static%}-->
    <!--    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">-->
    <!--    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">-->
    <!--    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">-->

    <!--    &lt;!&ndash; endinject &ndash;&gt;-->
    <!--    &lt;!&ndash; Plugin css for this page &ndash;&gt;-->
    <!--    &lt;!&ndash; End plugin css for this page &ndash;&gt;-->
    <!--    &lt;!&ndash; inject:css &ndash;&gt;-->
    <!--    <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">-->
    <!--    &lt;!&ndash; endinject &ndash;&gt;-->
    <!--    <link rel="stylesheet" href="{% static 'images/favicon.png' %}">-->
    <style>
        .header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .card-title {
            margin: 0;
        }

        .btn {
            margin: 0px;
        }

        .btn-icon-text {
            display: flex;
            align-items: center;
        }

        .btn-icon-text i {
            margin-left: 0px;
        }
        .center-button {
          display: flex;
          justify-content: center;

        }
        .center-button button {
            margin: 5px;
        }
        #shagun-sum-label {
        font-weight: bold;
        color: #9925b9;
        }

        #popupDiv {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            width: 50%;
            transform: translate(-50%, -50%);
            border: 2px solid lightskyblue;
            padding: 20px;
            background-color: #fff;
            z-index: 9999;
            background-color: #f0f0f0;
        }

        .center-button {
          display: flex;
          justify-content: center;
        }

        thead {
            background-color: #9925b9;
            color: white;
        }

        th,td {
            text-align: center;
        }

        .custom-alert-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5); /* Semi-transparent background overlay */
            display: none;
            align-items: center;
            justify-content: center;
            z-index: 1000; /* Ensure the overlay is on top of other content */
          }

          .custom-alert {
            background-color: #f2f2f2;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 20px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          }



    </style>
</head>

<body>
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    {% include 'app_bar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_settings-panel.html -->
        {% include 'theme_setting.html' %}
        <!-- partial -->
        <!-- partial:../../partials/_sidebar.html -->
        {% include 'nav_bar.html' %}
        <!-- partial -->
        <div class="col-lg-10 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="header-container">
                        <h4 class="card-title">Transaction settlement List</h4>
                        {% if request.session.role == 1 %}
                        <label id="shagun-sum-label" class="form-group">Total Shagun Amount: 0.00</label>
                        {% endif %}
                        <div class="form-group">
                            <label class="mr-2 custom-label"> Transaction Filter: </label>
                            <button type="button" class="btn btn-outline-info dropdown-toggle"
                                    id="dropdownMenuIconButton3" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                {% if status is None %}
                                All
                                {% elif status == 0 %}
                                Pending
                                {% elif status == 1 %}
                                Settled
                                {% endif %}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuIconButton3">
                                <a class="dropdown-item"
                                   href="{% url 'transactions_settlement' event_id %}">All</a>
                                <a class="dropdown-item"
                                   href="{% url 'filter_transaction_lists' event_id 1 %}">Settled</a>
                                <a class="dropdown-item"
                                   href="{% url 'filter_transaction_lists' event_id 0 %}">Pending</a>
                            </div>

                        </div>
                        <div class="form-group">
                            <form action="{% url 'search_transactions_settlement' event_id %}" method="POST">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input name="search" id="search" type="text" class="form-control"
                                           placeholder="Search" value="{{search}}"
                                           aria-label="Recipient's username">
                                    <div class="input-group-append">
                                        <button class="btn btn-sm btn-primary" type="submit" value="Submit">Search
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <form class="form-sample" action="/transactions_settlement/{{ event_id }}/" method="post"
                          id="myForm">
                        {% csrf_token %}
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    {% if request.session.role == 1 %}
                                    <th><input type="checkbox" id="select-all" onclick="toggleSelectAll()"></th>
                                    {% endif %}
                                    <th>ID</th>
                                    <th>Event Name</th>
                                    <th>Sender Details</th>
                                    <th>Receiver</th>
                                    <th>Transaction Details</th>
                                    <th>Shagun Amount</th>
                                    <th>Settlement Status</th>
                                    <th>Transaction Date</th>
                                    <th>Event Date</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if response|length == 0 %}
                                <tr>
                                    <td colspan="7" style="text-align: center;">
                                        <h4>No data found</h4>
                                    </td>
                                </tr>
                                {% else %}

                                {% for data in response %}

                                <tr>
                                    {% if request.session.role == 1 %}
                                    <td>
                                        {% if data.is_settled == 0 %}
                                        <input type="checkbox" class="select-row" name="selected_ids"
                                               value="{{ data.id }}">
                                        {% elif data.is_settled == 1 %}
                                        <input type="checkbox" class="select-row" name="selected_ids" DISABLED>
                                        {% endif %}
                                    </td>
                                    {% endif %}
                                    <td>{{ data.id }}</td>
                                    <td>{{ data.event_type }}</td>
                                    <td><b>Sent by:</b> {{ data.sender_name }}</br></br>
                                        <b>Behalf of: </b>{{data.gifter_name}}
                                    </td>
                                    <td>{{ data.receiver_name }}</td>
                                    <td>
                                        <b>Transaction Amount : </b>₹ {{ data.transaction_amount }}</br></br>
                                        <b>Shagun Amount: </b>₹ {{ data.shagun_amount }}</br></br>
                                        <b>Transaction Fee: </b>₹ {{ data.transaction_fee }}</br></br>
                                        <b>Delivery Fee: </b>₹ {{ data.delivery_fee }}</br></br>
                                        <b>Transaction ID: </b>{{ data.transaction_id }}</br></br>
                                    </td>
                                    <td style="display: none;">
                                        {{ data.shagun_amount }}
                                    </td>
                                    <td>
                                        ₹{{ data.shagun_amount }}
                                    </td>
                                    <td>
                                        {% if data.is_settled == 0 %}
                                        <label class="badge badge-danger">Pending</label>
                                        {% elif data.is_settled == 1 %}
                                        <label class="badge badge-success">Settled</label>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ data.created_on }}
                                    </td>
                                    <td>
                                        {{ data.event_date }}
                                    </td>
                                    <td><input type="hidden" name="selected_uid" value="{{data.receiver_uid}}"></td>
                                    <td><input type="hidden" name="selected_amounts" value="{{data.shagun_amount}}">
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                                </tbody>

                            </table>
                        </div>
                        {% if request.session.role == 1%}
                        {% if status != 1%}
                        <div class="center-button">
                            <button onclick="showPopUpDiv(event)" class="btn btn-outline-info btn-icon-text">Check-Out .
                                <i class="fas fa-money-check"></i>
                            </button>
                        </div>
                        {% endif %}
                        {% endif %}
                        <div id="error-message" class="alert alert-danger" style="display: none;">
                            Please select the transaction to settle.
                        </div>
                        <div id="customAlertOverlay" class="custom-alert-overlay">
                            <div class="custom-alert">
                                <label id="shagun-sum-label1">Please confirm if you want to pay the amount: 0.00</label>
                                <div class="center-button">
                                    <button type="button" onclick="hidePopUpDiv()"
                                            class="btn btn-outline-danger btn-fw">
                                        Cancel
                                    </button>
                                    <button type="submit" class="btn btn-outline-success btn-fw">Confirm</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination justify-content-center">
        <ul class="pagination">
            {% if response.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo; first</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ response.previous_page_number }}">previous</a>
            </li>
            {% endif %}

            {% for num in response.paginator.page_range %}
            {% if num == response.number %}
            <li class="page-item active">
                <span class="page-link">{{ num }} <span class="sr-only">(current)</span></span>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if response.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ response.next_page_number }}">next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ response.paginator.num_pages }}">last &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    {% include 'footer.html' %}
    <!-- partial -->
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var selectedIds = []; // Initialize an array to store selected event IDs

    function toggleSelectAll() {
        var selectAllCheckbox = document.getElementById('select-all');
        var selectRowCheckboxes = document.getElementsByClassName('select-row');

        if (selectAllCheckbox.checked) {
            // If "select-all" is checked, add all IDs to the selectedIds list
            selectedIds = [];
            for (var i = 0; i < selectRowCheckboxes.length; i++) {
                if (!selectRowCheckboxes[i].disabled) {
                    selectRowCheckboxes[i].checked = true;
                    selectedIds.push(selectRowCheckboxes[i].value);
                }
            }
        } else {
            // If "select-all" is unchecked, remove all IDs from the selectedIds list
            selectedIds = [];
            for (var i = 0; i < selectRowCheckboxes.length; i++) {
                selectRowCheckboxes[i].checked = false;
            }
        }
        updateHiddenField();
    }

    $(document).on('change', '.select-row', function () {
        if (!this.disabled) {
            var checkboxValue = $(this).val();
            if ($(this).prop('checked')) {
                // If checkbox is checked, add ID to the selectedIds list
                selectedIds.push(checkboxValue);
            } else {
                // If checkbox is unchecked, remove ID from the selectedIds list
                var index = selectedIds.indexOf(checkboxValue);
                if (index !== -1) {
                    selectedIds.splice(index, 1);
                }
            }

            updateHiddenField();
        }
    });

    function updateHiddenField() {
        // Update the hidden field with the selectedIds list separated by commas
        var selectedIdsList = [];
        var selectRowCheckboxes = document.getElementsByClassName('select-row');
        for (var i = 0; i < selectRowCheckboxes.length; i++) {
            if (selectRowCheckboxes[i].checked && !selectRowCheckboxes[i].disabled) {
                selectedIdsList.push(selectRowCheckboxes[i].value);
            }
        }
        document.getElementById('selected_id_list').value = selectedIdsList.join(',');
    }











</script>


<script>
    var popupDiv = document.getElementById("popupDiv");
    var errorMessage = document.getElementById("error-message");
    var timeoutId; // Initialize a variable to hold the timeout ID
    var customAlertOverlay = document.getElementById("customAlertOverlay");

    function showPopUpDiv(event) {
        event.preventDefault();  // Prevent the form from submitting

        // Calculate the sum
        updateShagunSum();

        // Check if the sum is greater than 0
        if (parseFloat(document.getElementById('shagun-sum-label1').textContent.split(':')[1].trim()) > 0) {
            customAlertOverlay.style.display = "flex";

            // Hide the error message if it's displayed
            errorMessage.style.display = "none";

            // Add a click event listener to the document body after a delay
            timeoutId = setTimeout(function() {
                document.body.addEventListener("click", hidePopUpDivOutsideClick);
            }, 100); // Delay in milliseconds
        } else {
            // Show the error message
            errorMessage.style.display = "block";
        }
    }

    function hidePopUpDivOutsideClick(e) {
        // Check if the click target is not within the popupDiv
        if (!popupDiv.contains(e.target)) {
            // If not, hide the popupDiv and remove the event listener
            hidePopUpDiv();
            document.body.removeEventListener("click", hidePopUpDivOutsideClick);
        }
    }

    function hidePopUpDiv() {
        var customAlertOverlay = document.getElementById("customAlertOverlay");
        customAlertOverlay.style.display = "none";
    }






</script>


<script>
    document.getElementById("approval-status-dropdown").addEventListener("change", function() {
        var dropdown = document.getElementById("approval-status-dropdown");
        var selectedValue = dropdown.value;
        window.location.href = selectedValue;
    });





</script>
<script>
    // Function to update the sum of Shagun Amount for selected rows
    function updateShagunSum() {
        let sum = 0;
        const selectRows = document.getElementsByClassName('select-row');
        for (let i = 0; i < selectRows.length; i++) {
            if (selectRows[i].checked && !selectRows[i].disabled) {
                const shagunAmountCell = selectRows[i].parentNode.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling;
                const shagunAmount = parseFloat(shagunAmountCell.textContent);

                // Check if the parsed value is a valid number
                if (!isNaN(shagunAmount)) {
                    sum += shagunAmount;
                }
            }
        }

        console.log("sum: " + sum); // Move this line inside the loop
        document.getElementById('shagun-sum-label').textContent = 'Total Shagun Amount: ' + sum.toFixed(2);
        document.getElementById('shagun-sum-label1').textContent = 'Please confirm if you want to pay the amount: ' + sum.toFixed(2);
    }

    // Event listener for checkbox changes
    const selectAllCheckbox = document.getElementById('select-all');
    selectAllCheckbox.addEventListener('change', function () {
        const selectRows = document.getElementsByClassName('select-row');
        for (let i = 0; i < selectRows.length; i++) {
            if (!selectRows[i].disabled) {
                selectRows[i].checked = selectAllCheckbox.checked;
            }
        }
        updateShagunSum();
    });

    const individualCheckboxes = document.getElementsByClassName('select-row');
    for (let i = 0; i < individualCheckboxes.length; i++) {
        individualCheckboxes[i].addEventListener('change', function () {
            updateShagunSum();
        });
    }

</script>


<script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>

<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{% static 'js/off-canvas.js' %}"></script>
<script src="{% static 'js/hoverable-collapse.js' %}"></script>
<script src="{% static 'js/template.js' %}"></script>
<script src="{% static 'js/settings.js' %}"></script>
<script src="{% static 'js/todolist.js' %}"></script>

<!-- endinject -->
<!-- Custom js for this page-->
<!-- End custom js for this page-->


</body>

</html>

