<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shagun Admin</title>
    <!-- plugins:css -->
    {% load static%}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/select.dataTables.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <!--    &lt;!&ndash; Required meta tags &ndash;&gt;-->
    <!--    <meta charset="utf-8">-->
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <!--    <title>Shagun Admin</title>-->
    <!--    &lt;!&ndash; plugins:css &ndash;&gt;-->
    <!--    {% load static%}-->
    <!--    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">-->
    <!--    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">-->
    <!--    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">-->

    <!--    &lt;!&ndash; endinject &ndash;&gt;-->
    <!--    &lt;!&ndash; Plugin css for this page &ndash;&gt;-->
    <!--    &lt;!&ndash; End plugin css for this page &ndash;&gt;-->
    <!--    &lt;!&ndash; inject:css &ndash;&gt;-->
    <!--    <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">-->
    <!--    &lt;!&ndash; endinject &ndash;&gt;-->
    <!--    <link rel="stylesheet" href="{% static 'images/favicon.png' %}">-->
    <style>
        .header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .card-title {
            margin: 0;
        }

        .btn {
            margin-right: 10px;
        }

        .btn-icon-text {
            display: flex;
            align-items: center;
        }

        .btn-icon-text i {
            margin-left: 5px;
        }

        /* Styling for the centered popup */
        #popupDiv, #popupDiv1 {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            width: 50%;
            transform: translate(-50%, -50%);
            border: 2px solid lightskyblue;
            padding: 20px;
            background-color: #fff;
            z-index: 9999;
            background-color: #f0f0f0;
        }

        .center-button {
          display: flex;
          justify-content: center;

        }


        .custom-alert-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5); /* Semi-transparent background overlay */
            display: none;
            align-items: center;
            justify-content: center;
            z-index: 1000; /* Ensure the overlay is on top of other content */
          }

          .custom-alert {
            background-color: #ffffe0;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 20px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          }

          .icon-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px; /* Add spacing between icons and text */
        }

        /* Center the text vertically */
        .custom-alert span {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px; /* Add spacing between text and button */
        }

        .center-button {
          display: flex;
          justify-content: center;

        }
        .center-button button {
            margin-right: 10px;
        }

















    </style>
</head>

<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    {% include 'app_bar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->

        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        {% include 'nav_bar.html' %}
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div id="customAlertOverlay3" class="custom-alert-overlay">
                    <div class="custom-alert">
                        <label class="form-group">
                            <p>Please confirm if you want to make the event type as <span id="event_status"></span></p>
                        </label>
                        <div class="center-button">
                            <button type="button" onclick="hideActivationPopUpDiv()"
                                    class="btn btn-outline-danger btn-fw">
                                Cancel
                            </button>
                            <button type="submit" id="confirmButton" class="btn btn-outline-success btn-fw">Confirm
                            </button>
                        </div>
                    </div>
                </div>
                <div id="customAlertOverlay1" class="custom-alert-overlay">
                    <div class="custom-alert">
                        <form class="form-sample needs-validation"
                              action="/edit_event_type"
                              method="post" novalidate>
                            {% csrf_token %}
                            <h4 class="card-title">Edit Event Type</h4>
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Event
                                            ID </label>
                                        <div class="col-sm-9">
                                            <input readonly id="event_type_id" name="id"
                                                   type="text"
                                                   class="form-control"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Name
                                            <a
                                                    style="font-weight: bold; color: red;">*</a></label>
                                        <div class="col-sm-9">
                                            <input required id="name" type="text"
                                                   class="form-control"
                                                   pattern="^[A-Za-z][A-Za-z ]*$"
                                                   title="Enter Event Type Name"
                                                   maxlength="256"
                                                   name="name"
                                                   value="{{ event.event_type_name }}"/>
                                            <div class="invalid-feedback">Name is
                                                mandatory
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Updated
                                            By </label>
                                        <div class="col-sm-9">
                                            <input disabled readonly id="updator"
                                                   class="form-control">
                                            <input type="hidden"
                                                   name="updated_by"
                                                   value="{{ request.session.uid }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="center-button">
                                <button type="button" onclick="hidePopUpDiv()"
                                        class="btn btn-outline-danger btn-fw">Cancel
                                </button>
                                <input type="submit" value="Submit"
                                       class="btn btn-outline-info btn-icon-text">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="header-container">
                                    <h4 class="card-title">Events Type</h4>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input name="search" id="search" type="text" class="form-control"
                                                   placeholder="Search" value="{{search}}"
                                                   aria-label="Recipient's username">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="mr-2 custom-label"> Event Type Filter: </label>
                                        <button type="button" class="btn btn-outline-info dropdown-toggle"
                                                id="dropdownMenuIconButton3" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false" style="width: 110px; height: 40px;">
                                            {% if status == '%' or status is None %}
                                            All
                                            {% elif status == 0 %}
                                            Inactive
                                            {% elif status == 1 %}
                                            Active
                                            {% endif %}
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuIconButton3">
                                            <a class="dropdown-item"
                                               href="{% url 'manage_event_types'  %}">All</a>
                                            <a class="dropdown-item"
                                               href="{% url 'filter_event_types' 1 %}">Active</a>
                                            <a class="dropdown-item"
                                               href="{% url 'filter_event_types' 0 %}">Inactive</a>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-outline-info btn-icon-text"
                                                onclick="showPopUpDiv1()">
                                            Add Event Type
                                            <i class="ti-plus btn-icon-append"></i>
                                        </button>
                                    </div>
                                    <div id="customAlertOverlay" class="custom-alert-overlay">
                                        <div class="custom-alert">
                                            <form class="form-sample needs-validation" action="/add_events_type"
                                                  method="post" novalidate>
                                                {% csrf_token %}
                                                <div class="text-center">
                                                    <h4 class="card-title">Add Event Type</h4>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label">Name <a
                                                                    style="font-weight: bold; color: red;">*</a></label>
                                                            <div class="col-sm-9">
                                                                <input required id="event_type_name"
                                                                       name="event_type_name"
                                                                       pattern="^[A-Za-z][A-Za-z ]*$"
                                                                       title="Enter Event Type Name" maxlength="256"
                                                                       type="text"
                                                                       class="form-control"/>
                                                                <div class="invalid-feedback">Event Type Name is
                                                                    mandatory
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label">Created By </label>
                                                            <div class="col-sm-9">
                                                                <input disabled readonly class="form-control"
                                                                       value="{{ request.session.name }}">
                                                                <input required type="hidden" id="created_by"
                                                                       name="created_by"
                                                                       value="{{ request.session.uid }}">
                                                                <input required type="hidden" id="updated_by"
                                                                       name="updated_by"
                                                                       value="{{ request.session.uid }}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="center-button">
                                                    <button type="button" onclick="hidePopUpDiv1()"
                                                            class="btn btn-outline-danger btn-fw">Cancel
                                                    </button>
                                                    <input type="submit" value="Submit"
                                                           class="btn btn-outline-info btn-icon-text">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table id="myTable" class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>SL No</th>
                                            <th>Event Type Name</th>
                                            <th>Status</th>
                                            <th>Creator/Updator</th>
                                            <th>Activate/Inactivate</th>
                                            <th>Edit</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if response|length == 0 %}
                                        <tr class="no-data-found">
                                            <td colspan="16" style="text-align: center;">
                                                <h4>No data found</h4>
                                            </td>
                                        </tr>
                                        {% else %}
                                        {% for event in response %}
                                        <tr>
                                            {% with sl_no=forloop.counter %}
                                            <td>{{sl_no}}</td>
                                            {% endwith %}
                                            <td>{{ event.event_type_name }}</td>
                                            <td>
                                                {% if event.status == 1 %}
                                                <label class="badge badge-success">Active</label>
                                                {% elif event.status == 0 %}
                                                <label class="badge badge-danger">Inactive</label>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <b>Created By: </b>{{event.creator}} <b><br/><br/>on: </b>{{event.created_on}}<br/><br/>
                                                <b>Updated By: </b>{{event.updator}} <b><br/><br/>on: </b>{{event.updated_on}}
                                            </td>
                                            <td>
                                                <div class="dropdown">
                                                    <button type="button" class="btn btn-outline-info dropdown-toggle"
                                                            id="dropdownMenuIconButton2" data-toggle="dropdown"
                                                            aria-haspopup="true"
                                                            aria-expanded="false">
                                                        {% if event.status == 0 %}
                                                        Inactive
                                                        {% elif event.status == 1 %}
                                                        Active
                                                        {% endif %}
                                                    </button>
                                                    <div class="dropdown-menu"
                                                         aria-labelledby="dropdownMenuIconButton3">
                                                        <a class="dropdown-item" href="javascript:void(0);"
                                                           data-event-id="{{ event.event_type_id }}" data-action="1"
                                                           onclick="showCustomAlertForActivateInactive(this.getAttribute('data-event-id'), this.getAttribute('data-action'))">Active</a>
                                                        <a class="dropdown-item" href="javascript:void(0);"
                                                           data-event-id="{{ event.event_type_id }}" data-action="0"
                                                           onclick="showCustomAlertForActivateInactive(this.getAttribute('data-event-id'), this.getAttribute('data-action'))">Inactive</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <button onclick="showPopUpDiv('{{event.event_type_id}}', '{{event.event_type_name}}', '{{event.updator}}')"
                                                        class="btn btn-outline-info btn-fw">Edit
                                                    <i class="fas fa-edit"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination-container col-12" align="center">
                        <div class="entries-info" id="entriesInfo"></div>
                        <div class="pagination-controls" id="paginationControls"></div>
                    </div>
                </div>
            </div>

            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            {% include 'footer.html' %}
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>

<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{% static 'js/off-canvas.js' %}"></script>
<script src="{% static 'js/hoverable-collapse.js' %}"></script>
<script src="{% static 'js/template.js' %}"></script>
<script src="{% static 'js/settings.js' %}"></script>
<script src="{% static 'js/todolist.js' %}"></script>

<!-- endinject -->
<!-- Custom js for this page-->
<!-- End custom js for this page-->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
    function showCustomAlertForActivateInactive(eventTypeId, action) {
        console.log(eventTypeId);
        console.log(action);
        window.eventTypeId = eventTypeId;
        window.action = action;

        var customAlertOverlay = document.getElementById("customAlertOverlay3");
        customAlertOverlay.style.display = "flex";

        var eventStatusSpan = document.getElementById("event_status");

        if (action === "1") {
            eventStatusSpan.textContent = "Active";
        } else if (action === "0") {
            eventStatusSpan.textContent = "Inactive";
        }

    }

    var confirmButton = document.getElementById("confirmButton");
    confirmButton.addEventListener("click", function() {
        console.log("clicked")
        var url = '/activate_deactivate_event_type/' + eventTypeId + '/' + action + '/';
        console.log(url)
        window.location.href = url;
    });

    function hideActivationPopUpDiv() {
        var customAlertOverlay = document.getElementById("customAlertOverlay3");
        customAlertOverlay.style.display = "none";
    }











</script>


<script>
    function showPopUpDiv(val1, val2, val3) {
        var customAlertOverlay1 = document.getElementById("customAlertOverlay1");
        customAlertOverlay1.style.display = "flex";

        document.getElementById("event_type_id").value = val1;
        document.getElementById("name").value = val2;
        document.getElementById("updator").value = val3;
    }

    function hidePopUpDiv() {
        var customAlertOverlay1 = document.getElementById("customAlertOverlay1");
        customAlertOverlay1.style.display = "none";
    }

    function showPopUpDiv1() {
        var customAlertOverlay = document.getElementById("customAlertOverlay");
        customAlertOverlay.style.display = "flex";
    }

    function hidePopUpDiv1() {
        var customAlertOverlay = document.getElementById("customAlertOverlay");
        customAlertOverlay.style.display = "none";
    }
















</script>
<script>
        function toggleForm() {
            var formContainer = document.getElementById("editFormContainer");
            if (formContainer.style.display === "none") {
                formContainer.style.display = "block";
                document.addEventListener("click", hideFormOnClickOutside);
            } else {
                formContainer.style.display = "none";
                document.removeEventListener("click", hideFormOnClickOutside);
            }
        }

        function hideFormOnClickOutside(event) {
            var formContainer = document.getElementById("editFormContainer");
            if (!formContainer.contains(event.target) && event.target.tagName !== "BUTTON") {
                formContainer.style.display = "none";
                document.removeEventListener("click", hideFormOnClickOutside);
            }
        }
















</script>

</body>

</html>
