<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shagun Admin</title>
    <!-- plugins:css -->
    {% load static%}
    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/select.dataTables.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <!--    &lt;!&ndash; Required meta tags &ndash;&gt;-->
    <!--    <meta charset="utf-8">-->
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <!--    <title>Shagun Admin</title>-->
    <!--    &lt;!&ndash; plugins:css &ndash;&gt;-->
    <!--    {% load static%}-->
    <!--    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">-->
    <!--    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">-->
    <!--    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">-->

    <!--    &lt;!&ndash; endinject &ndash;&gt;-->
    <!--    &lt;!&ndash; Plugin css for this page &ndash;&gt;-->
    <!--    &lt;!&ndash; End plugin css for this page &ndash;&gt;-->
    <!--    &lt;!&ndash; inject:css &ndash;&gt;-->
    <!--    <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">-->
    <!--    &lt;!&ndash; endinject &ndash;&gt;-->
    <!--    <link rel="stylesheet" href="{% static 'images/favicon.png' %}">-->
    <style>
        .header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .card-title {
            margin: 0;
        }

        .btn {
            margin: 20px;
        }

        .btn-icon-text {
            display: flex;
            align-items: center;
        }

        .btn-icon-text i {
            margin-left: 5px;
        }

        /* Styling for the centered popup */
        #popupDiv, #popupDiv1 {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            width: 50%;
            transform: translate(-50%, -50%);
            border: 2px solid lightskyblue;
            padding: 20px;
            background-color: #fff;
            z-index: 9999;
            background-color: #f0f0f0;
        }

        .center-button {
          display: flex;
          justify-content: center;

        }
        thead {
            background-color: #9925b9; /* Purple color (#9925b9) */
            color: white;
        }
        .custom-alert-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); /* Semi-transparent background overlay */
        display: none;
        align-items: center;
        justify-content: center;
        z-index: 1000; /* Ensure the overlay is on top of other content */
      }

      .custom-alert {
        background-color: #f2f2f2;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }



    </style>
</head>

<body>
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    {% include 'app_bar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_settings-panel.html -->
        {% include 'theme_setting.html' %}
        <!-- partial -->
        <!-- partial:../../partials/_sidebar.html -->
        {% include 'nav_bar.html' %}
        <!-- partial -->
        <div class="col-lg-10 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="header-container">
                        <h4 class="card-title">Events Type</h4>
                        <button type="button" class="btn btn-outline-info btn-icon-text"
                                onclick="showPopUpDiv1()">
                            Event Type
                            <i class="ti-plus btn-icon-append"></i>
                        </button>
                        <div id="customAlertOverlay" class="custom-alert-overlay">
                            <div class="custom-alert">
                                <form class="form-sample" action="/add_events_type" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Event Type Name </label>
                                                <div class="col-sm-9">
                                                    <input required id="event_type_name" name="event_type_name"
                                                           pattern="[^ ].*"
                                                           title="This field can't be Empty"
                                                           type="text"
                                                           class="form-control"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Created By</label>
                                                <div class="col-sm-9">
                                                    <label class="form-control">{{ request.session.name }}</label>
                                                    <input type="hidden" id="created_by_uid" name="created_by_uid"
                                                           value="{{ request.session.uid }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="center-button">
                                        <button type="button" onclick="hidePopUpDiv1()"
                                                class="btn btn-outline-danger btn-fw">Cancel
                                        </button>
                                        <input type="submit" value="Submit" class="btn btn-outline-info btn-icon-text">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Event Type ID</th>
                                <th>Event Type Name</th>
                                <th>Status</th>
                                <th>Activate/Deactivate</th>
                                <th>Edit</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for event in response %}

                            <tr>
                                <td>{{ event.event_type_id }}</td>
                                <td>{{ event.event_type_name }}</td>
                                <td>
                                    {% if event.status == 1 %}
                                    <label class="badge badge-success">Active</label>
                                    {% elif event.status == 0 %}
                                    <label class="badge badge-danger">Inactive</label>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-outline-info dropdown-toggle"
                                                id="dropdownMenuIconButton2" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                            {% if event.status == 0 %}
                                            Inactive
                                            {% elif event.status == 1 %}
                                            Active
                                            {% endif %}
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuIconButton3">
                                            <a class="dropdown-item"
                                               href="{% url 'activate_deactivate_event_type' event.event_type_id 1 %}">Active</a>
                                            <a class="dropdown-item"
                                               href="{% url 'activate_deactivate_event_type' event.event_type_id 0 %}">Inactive</a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button onclick="showPopUpDiv('{{event.event_type_id}}', '{{event.event_type_name}}')"
                                            class="btn btn-outline-info btn-fw">Edit
                                    </button>
                                    <div id="customAlertOverlay1" class="custom-alert-overlay">
                                        <div class="custom-alert">
                                            <form class="form-sample" action="/edit_event_type" method="post">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label">Event ID </label>
                                                            <div class="col-sm-9">
                                                                <input readonly id="event_type_id" name="id" type="text"
                                                                       class="form-control"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label">Name</label>
                                                            <div class="col-sm-9">
                                                                <input required id="name" type="text"
                                                                       class="form-control"
                                                                       pattern="[^ ].*"
                                                                       title="This field can't be Empty"
                                                                       name="name"
                                                                       value="{{ event.event_type_name }}"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="center-button">
                                                    <button type="button" onclick="hidePopUpDiv()"
                                                            class="btn btn-outline-danger btn-fw">Cancel
                                                    </button>
                                                    <input type="submit" value="Submit"
                                                           class="btn btn-outline-info btn-icon-text">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="pagination justify-content-center">
    <ul class="pagination">
        {% if response.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">&laquo; first</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ response.previous_page_number }}">previous</a>
        </li>
        {% endif %}

        {% for num in response.paginator.page_range %}
        {% if num == response.number %}
        <li class="page-item active">
            <span class="page-link">{{ num }} <span class="sr-only">(current)</span></span>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if response.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ response.next_page_number }}">next</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ response.paginator.num_pages }}">last &raquo;</a>
        </li>
        {% endif %}
    </ul>
</div>
<!-- content-wrapper ends -->
<!-- partial:../../partials/_footer.html -->
{% include 'footer.html' %}
<!-- partial -->
</div>
<!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>

<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{% static 'js/off-canvas.js' %}"></script>
<script src="{% static 'js/hoverable-collapse.js' %}"></script>
<script src="{% static 'js/template.js' %}"></script>
<script src="{% static 'js/settings.js' %}"></script>
<script src="{% static 'js/todolist.js' %}"></script>

<!-- endinject -->
<!-- Custom js for this page-->
<!-- End custom js for this page-->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    function showPopUpDiv(val1, val2) {
        var customAlertOverlay1 = document.getElementById("customAlertOverlay1");
        customAlertOverlay1.style.display = "flex";

        document.getElementById("event_type_id").value = val1;
        document.getElementById("name").value = val2;
    }

    function hidePopUpDiv() {
        var customAlertOverlay1 = document.getElementById("customAlertOverlay1");
        customAlertOverlay1.style.display = "none";
    }

    function showPopUpDiv1() {
        var customAlertOverlay = document.getElementById("customAlertOverlay");
        customAlertOverlay.style.display = "flex";
    }

    function hidePopUpDiv1() {
        var customAlertOverlay = document.getElementById("customAlertOverlay");
        customAlertOverlay.style.display = "none";
    }



</script>
<script>
        function toggleForm() {
            var formContainer = document.getElementById("editFormContainer");
            if (formContainer.style.display === "none") {
                formContainer.style.display = "block";
                document.addEventListener("click", hideFormOnClickOutside);
            } else {
                formContainer.style.display = "none";
                document.removeEventListener("click", hideFormOnClickOutside);
            }
        }

        function hideFormOnClickOutside(event) {
            var formContainer = document.getElementById("editFormContainer");
            if (!formContainer.contains(event.target) && event.target.tagName !== "BUTTON") {
                formContainer.style.display = "none";
                document.removeEventListener("click", hideFormOnClickOutside);
            }
        }



</script>

</body>

</html>
